.btt_btn_container {
  margin: 100px auto;
  margin-bottom: 200px;
  text-align: center;
}

.btt_btn {
  padding: 10px 18px;
  background-color: #d21e00;
  border-radius: 30px;
  font-size: 24px;
  color: white;
  box-shadow: 0 0 0 0 #981a05, 0 4px 0 0 #981a05;
  border: 2px solid #981a05;
}

.btt_btn:hover {
  box-shadow: 0 2px 0 0 #981a05;
}
