.sp_header {
  text-align: center;
}
.sp_header h2 {
  font-size: 100px;
  text-align: center;
  font-weight: 700;
  max-width: 900px;
  margin: 100px auto 30px;
}
.sp_header p {
  font-weight: 500;
  font-size: 32px;
  padding: 0 200px;
}

.sp_card_right {
  background-color: white;
  padding: 50px;
  width: 450px;
  margin-left: -320px;
}

.sp_card_left {
  background-color: white;
  padding: 50px;
  width: 450px;
  margin-right: -300px;
  z-index: 1;
}

.sp_card_container {
  margin: 100px 0;
}
@media only screen and (max-width: 1024px){
  .sp_header h2 {
    font-size: 70px;
    max-width: 100%;
    margin: 70px auto 30px;
}
.sp_header p {
  font-size: 28px;
  padding: 0;
}
.sp_card_container {
  margin: 70px 0;
}
.sp_card_left {
  margin-right: 0;
  width: 85%;
}
.sp_card_right {
  width: 85%;
  margin-left: 0;
}
}
@media only screen and (max-width: 767px){
  .sp_header h2 {
    font-size: 50px;
}
.sp_header p {
  font-size: 22px;
}
.sp_card_left {
  width: 100%;
}
.left-card-img{
  width: 100%;
}
.sp_card_right {
  width: 100%;
}
}
