/* ==============================sales banner========================== */
section.sales_banner {
    padding: 50px 0;
}
.top-section.desktop > .container{
    position: relative;
}
.copywriter-top-section-banner {
    width: 910px;
    height: 578px;
    top: 160px;
    right: 0px;
    position: absolute;
    background: none !important;
    background-position: -1px 0px;
    z-index: -1;
}
.copywriter-page .page-top .top-section-banner-text {
    margin-left: -75px;
}
.names-top-banner-container {
    width: 815px;
}
.copywriter-page section.page-top .projects-top-banner-text {
    margin-top: 86px;
}
.projects-top-banner-text {
    padding: 0px 0;
}
.top-banner-title {
    display: block;
    font-weight: 900;
    margin: 20px 0px;
    line-height: 67px;
    font-size: 65px;
    font-family: 'Playfair Display', serif;
    color: #373737;
    letter-spacing: -0.025em;
}
.copywriter-big {
    font-size: 110px;
}
.copywriter-page br.dont-delete {
    display: block !important;
}
.copywriter-green-number {
    color: #438d07;
    font-size: 100px;
}
.copywriter-page .copywriter-top-banner-long-text {
    font-family: 'Georgia', serif;
}
.top-banner-long-text {
    display: block;
    color: #818181;
    font-family: 'Georgia', serif;
    line-height: 45px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #373737;
}
.top-banner-long-text {
    display: block;
    color: #818181;
    font-family: 'Georgia', serif;
    line-height: 45px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #373737;
}
.copywriter-page .part-sec {
    margin-top: 20px;
    margin-bottom: 29px;
}
.copywriter-page .old-btn .btn.btn-green {
    background-color: #438d07;
    border-color: #438d07;
    box-shadow: 0 4px 0 0 #31600b;
    color: #fff;
}

.copywriter-page .old-btn a.btn {
    padding: 18px;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px auto;
    display: inline-block;
    width: 500px;
    white-space: normal;
    color: #fff;
    border: 3px solid #fff;
}
.copywriter-page .old-btn .btn:hover, .copywriter-page .old-btn .btn:focus, .copywriter-page .old-btn .btn:focus:active {
    color: #fff;
    outline: none;
    box-shadow: none;
    top: 4px;
}

/* ==============================sales banner-bottom-text========================== */
.copywriter-page .copyuwriter-custom-push-1 {
    margin-top: 24px;
}
.copywriter-custom-margin-1 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.copywriter-big-header {
    font-family: 'Playfair Display', serif;
    font-size: 77px;
    font-weight: 900;
    line-height: 77px;
    letter-spacing: -0.01em;
    margin-bottom: 25px;
}
.copywriter-page .copywriter-big-subheader {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height: 33px;
    margin-top: 25px;
    letter-spacing: -0.01em;
    color: #3e3e3e;
}

/* ==============================sales option box========================== */
section.sales_option_box {
    padding: 100px 0;
}
.opinion-box {
    font-family: "Open Sans";
    padding: 15px 0px;
    position: relative;
}
.opinion-box:nth-child(odd) .opinion-box-image {
    left: 0px;
    right: auto;
}
.opinion-box-image {
    position: absolute;
    z-index: 1;
    height: auto;
    /* width: 52%; */
    width: 57%;
}
.opinion-box-inside-image {
    height: auto;
}
.opinion-box:nth-child(odd) .opinion-box-content {
    float: right;
}
.projects-opinion-2 {
    margin: 55px 0px 50px 0px;
}
.opinion-box-content {
    padding: 50px 25px;
    /* width: 64%; */
    width: 66%;
    background-color: white;
    float: right;
    margin: 50px 0px 50px 0px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
    z-index: 2;
    min-height: 440px;
    text-align: center;
    position: relative;
}
.opinion-box-text {
    font-size: 40px;
    font-family: "Georgia";
    color: rgb(81, 81, 81);
    line-height: 1.25;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -0.025em;
}
.opinion-box-text {
    font-size: 40px;
    font-family: "Georgia";
    color: rgb(81, 81, 81);
    line-height: 1.25;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -0.025em;
}

/* ==============================sales business tools========================== */

.copywriter-cmargin-2 {
    margin-top: 30px;
}
.copywriter-big-header-2 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
}
.copywriter-custom-container-1 {
    margin-bottom: 40px;
}
.copywriter-image-box {
    display: inline-block;
    vertical-align: top;
}
.copywriter-image-label {
    font-size: 22px;
    line-height: 20px;
    font-family: "Arial";
}
.copywriter-image-box-2, .copywriter-image-box-4 {
    margin-top: 50px;
}
.copywriter-image-box-3 {
    margin-top: 100px;
}
.copywriter-cmargin-3 {
    margin: 35px 0px;
}
.copywriter-custom-text-1 {
    font-size: 44px;
    font-family: 'Playfair Display';
    margin-bottom: 30px;
}
.copywriter-custom-text-2 {
    font-size: 37px;
    font-family: 'Playfair Display';
}

/* ==============================sales section5========================== */
.copywriter-standard-mtb-40 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.copywriter-custom-gray-header-1 {
    color: #cacaca;
    font-size: 122px;
    font-family: 'Playfair Display', Serif;
    font-weight: 900;
    margin: 60px 0;
}
.copywriter-standard-mb-40 {
    margin-bottom: 60px;
}
.copywriter-text-center {
    text-align: center;
}
.copywriter-text-center img, .copywriter-text-left, .copywriter-text-right {
    max-width: 100%;
}
.copywriter-custom-text-2 {
    font-size: 37px;
    font-family: 'Playfair Display';
}
.copywriter-intro-whatwedo-container {
    margin-top: 30px;
}
.copywriter-text-right {
    max-width: 100%;
}
.copywriter-text-right {
    text-align: right;
}
.copywriter-intro-box {
    min-height: 269px;
}
.copywriter-intro-header-right {
    font-size: 25px;
    font-family: Arial;
    margin-bottom: 10px;
    margin-top: 50px;
}
.copywriter-intro-description-right {
    font-size: 18px;
    font-family: Arial;
}
.copywriter-intro-header-left {
    font-size: 25px;
    font-family: Arial;
    margin-bottom: 10px;
    text-align: right;
    margin-top: 50px;
}
strong {
    font-weight: 700;
}
.copywriter-intro-description-left {
    font-size: 18px;
    font-family: Arial;
    text-align: right;
}
.copywriter-container-custom {
    margin-top: 235px;
    margin-bottom: 70px;
    max-width: 900px;
}
.copywriting-white-text-cont {
    max-width: 404px;
    text-align: center;
    display: inline-block;
}
.copywriting-bg-white-header {
    font-size: 37px;
    letter-spacing: -0.01em;
    line-height: 37px;
    font-family: 'Playfair Display';
    margin-bottom: 30px;
}
.copywriting-bg-white-subheader {
    font-family: 'Georgia';
    font-size: 26px;
    letter-spacing: -0.0em;
    line-height: 36px;
    margin-bottom: 30px;
}
.copywriting-bg-white-subheader-link {
    color: #438d07;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.025em;
}
.copywriter-ksiazka-img {
    margin-top: -200px;
    max-width: 100%;
}
.copywriter-intro-bg-5-label {
    font-family: 'Playfair Display';
    font-size: 72px;
    line-height: 70px;
    font-weight: 900;
    margin-bottom: 25px;
}
.copywriter-standard-mtb-40 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.copywriter-custom-container-2 {
    max-width: 900px;
    background-color: white;
    margin-bottom: 70px;
    margin-top: 70px;
}
.copywriter-custom-header {
    font-family: 'Playfair Display';
    font-size: 72px;
    letter-spacing: -0.01em;
    font-weight: 900;
}
.copywriter-custom-push-2 {
    margin: 30px 0px;
}
.theme-desc {
    margin-bottom: 40px;
    color: #515151;
    font-family: "Georgia";
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -0.025em;
}
.copywriter-small-text {
    font-family: "Arial";
    font-size: 18px;
    line-height: 22px;
}

.theme-desc {
    margin-bottom: 40px;
    color: #515151;
    font-family: "Georgia";
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -0.025em;
}
.copywriter-custom-header {
    font-family: 'Playfair Display';
    font-size: 72px;
    letter-spacing: -0.01em;
    font-weight: 900;
}
.copywriter-custom-subheader {
    font-family: 'Playfair Display';
    font-size: 41px;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
}
.copywriter-whatwedo-container {
    max-width: 800px;
    margin-bottom: 80px;
}
.copywriter-what-we-do {
    margin-top: 25px;
    margin-bottom: 25px;
}
.copywriter-intro-sm-text {
    font-family: Arial;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 29px;
}
.copywriter-intro-sm-mright {
    margin-right: -50px;
    margin-left: -50px;
}
.custom-container1 {
    max-width: 810px;
    margin: auto;
}
.theme-desc {
    margin-bottom: 40px;
    color: #515151;
    font-family: "Georgia";
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -0.025em;
}
img.copywriter-owocni {
    position: relative;
    z-index: 2;
}

.copywriter-wierzymy-container {
    max-width: 1397px;
    margin: 0 auto;
    height: 432px;
    position: relative;
}
.copywriter-wierzymy-container img {
    position: absolute;
    right: 147px;
    top: -130px;
}