.projects-gray-opinion-1 {
  height: auto;
  z-index: -2;
}

.projects-gray-opinion-1 {
  height: auto;
  z-index: -2;
}

.opinion-box {
  margin-top: 85px;
}

.opinion-box:nth-child(odd) .opinion-box-image {
  left: 0px;
  right: auto;
}

.custom-text-align-right {
  text-align: right !important;
}

.opinion-box-image-right {
  right: 0px !important;
  left: auto !important;
}

.opinion-box-image {
  position: absolute;
  z-index: 1;
  height: auto;
  /* width: 52%; */
  width: 57%;
}

.opinion-box-inside-image {
  height: auto;
}

.opinion-box:nth-child(odd) .opinion-box-content {
  float: right;
}

@media (min-width: 992px) {
  .rwd-opinion-image {
    display: none;
  }
}

.naming-opinion-img {
  min-height: 0px !important;
  height: auto !important;
}
.naming-no-bg {
  background-image: none;
  padding: 0px !important;
}
.opinion-client-bg-iglarki {
  background-image: url(https://cdn.owocni.pl/img/projektowanie-logo-img/k-iglarki.jpg);
  background-color: #cccccc;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.opinion-box-content {
  padding: 50px 25px;
  /* width: 64%; */
  width: 66%;
  background-color: white;
  float: right;
  margin: 50px 0px 50px 0px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
  z-index: 2;
  min-height: 440px;
  text-align: center;
  position: relative;
}

.opinion-box:nth-child(odd) .opinion-box-content {
  float: right;
}
.naming-opinion-text {
  min-height: 0px !important;
  height: auto !important;
}
.projects-opinion-1-new {
  background-color: #e3e3e3;
}
.projects-opinion-1 {
  margin: 95px 0px 50px 0px;
}
.opinion-box-content-left {
  float: left !important;
}

.projects-opinion-1-new .projects-client-opinion-p {
  color: #fff;
}
.projects-client-opinion-p {
  font-family: "Arial";
  color: #e3e3e3;
  font-size: 30px;
  margin-bottom: 30px;
}
.theme-desc {
  margin-bottom: 40px;
  color: #515151;
  font-family: "Georgia";
  font-size: 26px;
  line-height: 33px;
  letter-spacing: -0.025em;
}

.opinion-box-text {
  font-size: 40px;
  font-family: "Georgia";
  color: rgb(81, 81, 81);
  line-height: 1.25;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: -0.025em;
}

.pnazw-page .pnazw-opinion-btn {
  background-color: white;
  color: #2b2b2b;
  border: 3px solid #282828;
}
.download-catalog-button {
  width: 415px;
  background: #f2c22f;
  border: transparent;
  padding: 16px 3px;
  color: black;
  font-weight: 500;
  font-size: 22px;
  bottom: 4px;
  left: 0;
  z-index: 10;
  display: inline;
  letter-spacing: -0.025em;
}
.names-new-btn {
  font-family: "Arial";
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 24px;
  line-height: 25px;
  padding: 23px 40px;
  width: auto;
  background-color: #f2c22f;
  border: 1px solid #f2c22f;
}

/* section */

.names-custom-container {
  margin: 0 auto;
}

.pnazw-page .cname-big-mtop {
  margin-top: 210px;
}
.pnazw-page .names-client-name {
  position: relative;
}

.pnazw-page .copywriter-cname {
  padding-bottom: 95px;
}
.copywriter-cname {
  margin-top: 40px;
  padding-bottom: 55px;
}
.names-client-name {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 100px;
  margin-top: 50px;
  letter-spacing: -0.025em;
  color: #fff;
}

.names-client-desc {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
}
.naming-seo-img {
  text-align: center;
}
.naming-seo-img img {
  max-width: 100%;
}

.pnazw-page .pnazw-names-quote-margin {
  margin-top: 26px;
}

.pnazw-page .names-quote-fsize {
  font-size: 43px;
  line-height: 46px;
}
.names-quote-fsize {
  font-size: 60px;
  letter-spacing: -0.03px;
}
.signed-quote-image {
  font-family: "Playfair Display", serif;
  font-style: Italic;
  letter-spacing: -0.025em;
}
.signed-quote {
  margin: 24px 0px;
  font-family: "Georgia", serif;
}
.theme-quote {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 24px 0 66px;
  letter-spacing: -0.03em;
}

.pnazw-page .signature.newsignmargin {
  margin-top: 30px;
}

.signature {
  text-align: center;
  margin-bottom: 70px;
  font-family: "Georgia", serif;
  font-style: Italic;
  font-size: 19px;
  margin-top: -10px;
  letter-spacing: -0.01em;
}
.theme-desc {
  margin-bottom: 40px;
  color: #515151;
  font-family: "Georgia";
  font-size: 26px;
  line-height: 33px;
  letter-spacing: -0.025em;
}

.pnazw-page .cname-big-mtop {
  margin-top: 210px;
}

.pnazw-page .names-client-name {
  position: relative;
}
.pnazw-page .copywriter-cname {
  padding-bottom: 95px;
}
.copywriter-cname {
  margin-top: 40px;
  padding-bottom: 55px;
}
.names-client-name {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 100px;
  margin-top: 50px;
  letter-spacing: -0.025em;
  color: #fff;
}
.names-custom-push-container {
  margin-top: 30px;
}

.custom-container1 {
  max-width: 810px;
  margin: auto;
}

/* section 4*/
/* section 5 */

/* section 6 */

/* section 7 */
.opinion-box {
  font-family: "Open Sans";
  padding: 15px 0px;
  position: relative;
}
.opinion-box {
  margin-top: 85px;
}
.opinion-box:nth-child(odd) .opinion-box-image {
  left: 0px;
  right: auto;
}

.opinion-box-image {
  position: absolute;
  z-index: 1;
  height: auto;
  /* width: 52%; */
  width: 57%;
}

.opinion-box-inside-image {
  height: auto;
}

.opinion-box:nth-child(odd) .opinion-box-content {
  float: right;
}

.naming-no-bg {
  background-image: none;
  padding: 0px !important;
}
.opinion-client-bg-core {
  background-image: url(https://cdn.owocni.pl/img/projektowanie-logo-img/k-robiszto.jpg);
  background-color: #cccccc;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.opinion-box-content {
  padding: 50px 25px;
  /* width: 64%; */
  width: 66%;
  background-color: white;
  float: right;
  margin: 50px 0px 50px 0px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.38);
  z-index: 2;
  min-height: 440px;
  text-align: center;
  position: relative;
}
.naming-no-bg img {
  width: 100%;
}

.opinion-box:nth-child(odd) .opinion-box-content {
  float: right;
}

.naming-opinion-img {
  min-height: 0px !important;
  height: auto !important;
}
.naming-opinion-text {
  min-height: 0px !important;
  height: auto !important;
}
.projects-opinion-1-new {
  background-color: #e3e3e3;
}
.projects-opinion-5 {
  margin: 35px 0px 50px 0px;
}
.projects-opinion-1-new .projects-client-opinion-p {
  color: #fff;
}

.projects-client-opinion-p {
  font-family: "Arial";
  color: #e3e3e3;
  font-size: 30px;
  margin-bottom: 30px;
}
.opinion-box-text {
  font-size: 40px;
  font-family: "Georgia";
  color: rgb(81, 81, 81);
  line-height: 1.25;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: -0.025em;
}

.pnazw-page .pnazw-opinion-btn {
  background-color: white;
  color: #2b2b2b;
  border: 3px solid #282828;
}

.download-catalog-button {
  width: 415px;
  background: #f2c22f;
  border: transparent;
  padding: 16px 3px;
  color: black;
  font-weight: 500;
  font-size: 22px;
  bottom: 4px;
  left: 0;
  z-index: 10;
  display: inline;
  letter-spacing: -0.025em;
}
.names-new-btn {
  font-family: "Arial";
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 24px;
  line-height: 25px;
  padding: 23px 40px;
  width: auto;
  background-color: #f2c22f;
  border: 1px solid #f2c22f;
}

/* section 8 */
.names-custom-container {
  max-width: 870px;
}

.names-custom-container {
  margin: 0 auto;
}

.pnazw-page .cname-big-mtop {
  margin-top: 210px;
}

.pnazw-page .names-client-name {
  position: relative;
}
.pnazw-page .copywriter-cname {
  padding-bottom: 95px;
}
.copywriter-cname {
  margin-top: 40px;
  padding-bottom: 55px;
}
.names-client-name {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 100px;
  margin-top: 50px;
  letter-spacing: -0.025em;
  color: #fff;
}
.names-client-desc {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
}

.pnazw-page .cname-big-mtop-2 {
  margin-top: 50px;
}

.projects-bow-1 {
  width: 100%;
  margin-bottom: -1px;
}

/* 9 */
.names-thematic-section-purple {
  background-color: #160209;
}

.pnazw-page .custom-cname-small-margin {
  margin-top: 70px;
}

.pnazw-page .cname-big-mtop {
  margin-top: 210px;
}
.pnazw-page .names-client-name {
  position: relative;
}
.pnazw-page .copywriter-cname {
  padding-bottom: 95px;
}
.copywriter-cname {
  margin-top: 40px;
  padding-bottom: 55px;
}
.names-color-white {
  color: white;
}
.names-client-name {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 100px;
  margin-top: 50px;
  letter-spacing: -0.025em;
  color: #fff;
}

.names-custom-gray-text {
  margin-right: -125px;
  margin-left: -125px;
  font-size: 46px;
  font-style: italic;
  line-height: 47px;
}
.names-color-purple {
  color: #8d1749;
}
.names-color-dark {
  color: #414141;
  font-style: initial !important;
}
.names-client-desc {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
}
.margin-bottom-whitespace-fix {
  margin-bottom: -5px !important;
}

.pnazw-page .names-quote-fsize {
  font-size: 43px;
  line-height: 46px;
}
.names-custom-gray-text {
  margin-right: -125px;
  margin-left: -125px;
  font-size: 46px;
  font-style: italic;
  line-height: 47px;
}
.names-color-purple-med {
  color: #75133d;
}
.names-color-light-dark {
  color: #747474;
}
.names-quote-fsize {
  font-size: 60px;
  letter-spacing: -0.03px;
}
.signed-quote-image {
  font-family: "Playfair Display", serif;
  font-style: Italic;
  letter-spacing: -0.025em;
}
.signed-quote {
  margin: 24px 0px;
  font-family: "Georgia", serif;
}
.names-color-purple-dark {
  color: #4e0c28;
}

.pnazw-page .pnazw-custom-margin-3 {
  margin-bottom: 130px;
}
.names-custom-font-2 {
  font-size: 25px;
}

/* 10 */
.names-thematic-section-black {
  background-color: #000000;
}
.pnazw-page .custom-cname-small-margin {
  margin-top: 70px;
}
.pnazw-page .cname-big-mtop {
  margin-top: 210px;
}
.pnazw-page .names-client-name {
  position: relative;
}
.pnazw-page .copywriter-cname {
  padding-bottom: 95px;
}
.copywriter-cname {
  margin-top: 40px;
  padding-bottom: 55px;
}
.names-color-white {
  color: white;
}
.names-client-name {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 100px;
  margin-top: 50px;
  letter-spacing: -0.025em;
  color: #fff;
}
.pnazw-page .new-margin-gray {
  margin-bottom: 100px;
}

.names-custom-gray-text {
  margin-right: -125px;
  margin-left: -125px;
  font-size: 46px;
  font-style: italic;
  line-height: 47px;
}
.names-color-grey {
  color: #b7bcc1;
}
.names-color-dark {
  color: #414141;
  font-style: initial !important;
}
.names-client-desc {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
}
.pnazw-page .names-quote-fsize {
  font-size: 43px;
  line-height: 46px;
}
.pnazw-page .pnazw-new-custom-margin {
  margin-top: 100px;
}
.names-custom-gray-text {
  margin-right: -125px;
  margin-left: -125px;
  font-size: 46px;
  font-style: italic;
  line-height: 47px;
}
.names-color-grey-med {
  color: #747474;
}
.names-color-light-dark {
  color: #747474;
}
.names-quote-fsize {
  font-size: 60px;
  letter-spacing: -0.03px;
}
.signed-quote-image {
  font-family: "Playfair Display", serif;
  font-style: Italic;
  letter-spacing: -0.025em;
}
.signed-quote {
  margin: 24px 0px;
  font-family: "Georgia", serif;
}
.theme-quote {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  color: #000000;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 24px 0 66px;
  letter-spacing: -0.03em;
}
.pnazw-page .signature.newsignmargin {
  margin-top: 30px;
}
.names-color-grey-dark {
  color: #515151;
}
