.select-input {
  width: 75%;
  margin: 20px auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.select-input2{
  width: 90%;
  margin: 0 auto;
}
.slider_Section {
}

.space-between {
  margin: 35px 0px;
}

.slider_section h2 {
  color: rgb(45, 45, 45);
  font-weight: 700;
  font-size: 20px;
}
.css-1jqq78o-placeholder{
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
.radio-container p strong{
margin-right: 5px;
}
/* .slider_section p {
  font-size: 18px;
  background: rgb(121, 97, 111);
  padding: 3px 32px;
  color: rgb(255 255 255);
  border-radius: 4px;
  width: fit-content;
  margin: 25px auto 0;
} */
.slider_section {
  padding: 0 20px;
}

.ss_input-container input {
  margin: 0 18px;
  width: 50%;
}

.ss_btn-container {
  margin-top: 32px;
}

.cennikBtn {
  padding: 12px 16px;
  background: var(--brand-blue);
  font-size: 20px;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: 500;
  box-shadow: 0 6px 0px var(--brand-blue-hover);
  margin: 35px auto 0px;
  display: block;
  
  line-height: 20px;
}
.user-details_section .cennikBtn{
  width:50%;
}
.feedback_section h2 {
  font-weight: 700;
  font-size: 20px;
  color: rgb(45, 45, 45);
  margin-bottom: 5px;
}

.feedback_section p {
  font-size: 17px;
  color: rgb(45, 45, 45);
  margin-bottom: 15px;
}

.fs_textarea,
.fs_input {
  border-radius: 20px;
  border-color: #cecece;
  width: 90%;
  padding: 20px;
}

.fs_textarea:focus,
.fs_textarea:active,
.fs_input:focus,
.fs_input:active,
.uds_input-container input:focus {
  border-color: var(--brand-blue);
  outline: var(--brand-blue);
}

.fs_input {
  padding: 8px 16px;
  margin-bottom: 18px;
  border: 1px solid rgb(201, 201, 201);
}

.user-details_section h2 {
  color: rgb(45, 45, 45);
  font-weight: 700;
  font-size: 20px;
}

.user-details_section p {
  font-size: 18px;
  color: rgb(45, 45, 45);
  margin: 10px auto 30px;
  width: 70%;

}

.uds_input-container {
  display: flex;
  flex-direction: column;
}

.uds_input-container input {
  padding: 8px 16px;
  margin: 0 auto 18px auto;
  border-radius: 20px;
  width: 50%;
  border: 1px solid rgb(201, 201, 201);
}

.uds_input-container select {
  padding: 8px 16px;
  margin: 0 auto 18px auto;
  border-radius: 20px;
  width: 50%;
  border: 1px solid rgb(201, 201, 201);
}

.form4Btn {
  width: 50%;
}

.user-details_section button {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 8px;
  padding: 8px 20px;
}

.css-h4y3oo-control {
  padding-block: 5px !important;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

/* component two */
.component-two_section h2 {
  color: rgb(45, 45, 45);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.component-two_section p {
  font-size: 16px;
  color: rgb(45, 45, 45);
}

.component-two_section textarea {
  border-radius: 20px;
  border-color: #cecece;
  width: 90%;
  padding: 12px;
}

.component-two_section textarea:focus {
  outline: 1.5px solid var(--brand-blue);
}

.range_description {
  margin-inline: auto;
  text-align: center;
  margin-top: 30px;
  font-size: 17px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range_description span{
  margin-bottom: 20px;
}


/* component two */
/* component two */

/* component three */
.componentThree_section h2 {
  color: rgb(45, 45, 45);
  font-weight: 700;
  font-size: 20px;
}

.componentThree_input-container {
  padding: 20px 80px 0px;
}

.componentThree_input-container input {
  padding: 12px 16px;
  margin: 0 auto 18px ;
  border-radius: 40px;
  width: 60%;
  border: 1px solid rgb(201, 201, 201);
  display: block;
}

.componentThree_input-container input:focus {
  outline: 2px solid var(--brand-blue);
}

button.custom-modal-btn {
  padding: 8px 36px;
  background: var(--brand-blue);
  font-size: 18px;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: 500;
  box-shadow: 0 6px 0px var(--brand-blue);
  margin: 0 auto;
  display: block;
}

button.custom-modal-btn a {
  color: white;
  text-decoration: none;
}

/* component three */

/* slider range input */
.slider-input {
  height: 16px;
  outline: none;
  border: none;
  border-radius: 10px;
  position: relative;
}

input[type='range'] {
  -webkit-appearance: none;
  background: #9b8993;
  z-index: 1;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: var(--brand-blue);
  border-radius: 50%;
  border: none;
  margin: -3px 0 0;
  transition: 0.2s ease-in-out;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0 0 0 12px rgba(255, 255, 255, 1), 0 0 20px rgba(0, 0, 0, 1);
}

input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 14px rgb(255, 255, 255);
}

input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 12px rgb(255, 255, 255);
}




/* slider range input */

/* modal */
.CenikModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0c;
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 80vh;
  padding: 50px 80px;
  box-sizing: border-box;
  border-radius: 30px;
  color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.CenikModal p {
  font-size: 18px;
  text-align: center;
  line-height: normal;
}

.cenikBtnDiv {
  margin-top: 32px;
}

.cenikBtnDiv button {
  padding: 7px 28px;
  border-radius: 18px;
  border-color:#00BFFF;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

.CenikModal .close {
  position: absolute;
  top: -42px;
  right: -38px;
  font-size: 40px;
  cursor: pointer;
}
.radio-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.radio-container label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
    align-items: center;
  margin: 10px 0;
  justify-content: start;
    gap: 8px;
    width: 49%;
    
}

.radio-container label p strong{color:#000;}
.checked-radio {
  background-color: lightgreen; /* light green background when checked */
  border-color: lightgreen; /* light green border when checked */
}
.radio-boxdiv{
  display: flex;
      flex-direction: column;
      align-items:center;
}
.radio-boxdiv h3{
  text-align: left;
  font-size: 16px;
  color: #333;
  line-height: 24px;
  font-weight: 400;
  margin: 15px 0 2px;
}
.radio-boxdiv p{
  text-align: left;
  font-size: 16px;
  color: #333;
  line-height: 24px;
  font-weight: 400;;
}
.radio-boxdiv h3 strong{
  margin-right: 5px;
  font-size: 16px;
  color: #333;
  line-height: 24px;
  font-weight: 700;
}
.radio-container input[type="radio"] {
  margin-right: 10px;
  width: 26px;
  height: 26px;
  
}
.cennikFormCard .componentThree_section p{
  width:70%;
  margin: auto;
}
.radio-section p {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin: 10px 0;
}
/* --------------------contact-------------------- */
.componentThree_section {
  position: relative;
  margin: 0 -15px;
}

.contact {
  position: absolute;
  bottom: 0;
  right: -204px;
  width: 230px;
  z-index: -22;
}
.contact .top-part{
  position: relative;
  left: 22%;
  margin-bottom: 30px;
}
.contact .bottom-part{
  position: relative;
    left: 22%;
}

.contact .whiteBox {
  height: 150px;
  width: 150px;
  background: white;
  margin: -215px auto 50px;
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
  z-index: -22;
  top: 18px;
  left: 17px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

/* Custom radio button styles */
.custom-radio {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.radio-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.radio-circle.selected {
  border-color: #d1d1d1;
  background-color: #fff;
}

.inner-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #00BFFF;
}

.radio-label {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
}

.radio-label h5{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  text-align: left;
  display: inline;
  margin-right: 5px;
}

.contact h5 {
  color:'#000';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}

.contact a {
  font-size: 32px;
  font-weight: 700;
  color: #00BFFF;
  border-bottom: 1px solid gray;
  text-decoration: none;
  letter-spacing: 0.3px;
}
.contact img{
  width:91%;
  object-fit: cover;
}

.contact .top-part p {
  font-size: 15px;
  font-weight: 300;
  margin: 0px auto 10px;
}

@media screen and (max-width: 1024px) {
  .contact {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }

  .componentThree_input-container {
    padding: 20px 0px;
  }

  .componentThree_input-container input {
    width: 95%;
  }
  .row .col-xl-8{
    padding: 0!important;
  }

  .select-input {
    width: 95%;
    margin: 20px auto;
  }

  .Modal {
    width: 80%;
    max-width: 100%;
    padding: 30px 20px;
  }

  .Modal .close {
    top: -32px;
    right: -28px;
    font-size: 30px;
  }
  .radio-container label{
    width:100%;
    flex-direction: row;
  }
  .radio-label{
    width: 88%;
    margin-left: 5px;
    text-align: left;
  }
  .radio-label h5{
    text-align: left;
  }
}

/* new styles */
.red-title {
  color: #d21e00 !important;
  animation: scaleUp 0.5s ease forwards;
}

@keyframes scaleUp {
  0% {
    font-size: 20px;
  }

  50% {
    font-size: 22px;
  }

  100% {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .CenikModal {
    max-width: 90%;
    width: 100%;
  }

  .uds_input-container input {
    width: 100%;
  }
  .form2Modal {
    width: 90% !important;
  }
}

@media only screen and (max-width: 767px) {
  .CenikModal {
    max-width: 100%;
    width: 100%;
  }

  .uds_input-container input {
    width: 100%;
  }

  .form4Btn {
    width: 100%;
  }
  .form2Modal {
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .user-details_section p, .feedback_section p, .component-two_section p, .cennikFormCard .componentThree_section p, .card-subheading2{font-size:18px !important; line-height:28px;}
  .user-details_section p, .cennikFormCard .componentThree_section p{width:90%;}
}
