/* slider section */

.slider_Section {
}

.space-between {
  margin: 100px 0px;
}

.slider_section h2 {
  color: rgb(45, 45, 45);
  font-weight: 700;
  font-size: 20px;
}

.slider_section p {
  font-size: 18px;
  background: rgb(121, 97, 111);
  padding: 3px 32px;
  color: rgb(255 255 255);
  border-radius: 4px;
  width: fit-content;
  margin: 0 auto;
}

.ss_input-container input {
  margin: 0 10px;
  width: 50%;
}

.ss_btn-container {
  margin-top: 32px;
}

.cennikBtn {
  padding: 8px 16px;
  background: #d21e00;
  font-size: 18px;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: 500;
  box-shadow: 0 6px 0px #981a04;
}

/* Slider section */

/* feedback section */
.feedback_section h2 {
  font-weight: 700;
  font-size: 20px;
  color: rgb(45, 45, 45);
}

.feedback_section p {
  font-size: 16px;
  color: rgb(45, 45, 45);
}

.fs_textarea,
.fs_input {
  border-radius: 20px;
  border-color: #cecece;
  width: 90%;
}

.fs_input {
  padding: 8px 16px;
  margin-bottom: 18px;
  border: 1px solid rgb(201, 201, 201);
}

/* feedback section */

/* user details section */
.user-details_section h2 {
  color: rgb(45, 45, 45);
  font-weight: 700;
  font-size: 20px;
}

.user-details_section p {
  font-size: 18px;
  color: rgb(45, 45, 45);
}

.uds_input-container {
  display: flex;
  flex-direction: column;
}

.uds_input-container input {
  padding: 8px 16px;
  margin: 0 auto 18px auto;
  border-radius: 20px;
  width: 50%;
  border: 1px solid rgb(201, 201, 201);
}

.user-details_section button {
  font-size: 18px;
  line-height: normal;
  margin-top: 8px;
  padding: 8px 30px;
}

/* user details section */
