.section {
  padding: 50px 0px;
}

.containerWhite {
  background-color: white;
  padding: 50px 45px;
  margin-left: -150px;
  height: 75%;
  margin-top: 70px;
}

.title {
  font-size: 33px;
  font-family: "Georgia";
  font-weight: 600;
  color: #010101;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: -0.025em;
}

.subtitle {
  font-size: 33px;
  font-family: "Georgia";
  font-style: italic;
  color: #010101;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: -0.025em;
}
