.rating {
  padding: 100px 0;
}

.ratingImg {
  display: flex;
  justify-content: space-between;
}

.ratingImg img {
  width: 250px;
}

.ratingImg :nth-child(2) {
  width: 300px;
}

.ratingLogoImg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 40px 0 0px;
}
.ratingLogoImg img{
  width: 65%;
}

.ratingMainImg {
  width: 100%;
  position: relative;
  z-index: 1;
}

.ratingMainImg img {
  width: 85%;
  height: auto;
  margin: -320px auto -70px;
  display: block;
}

.ratingMainImg p {
  text-align: center;
  margin-top: 100px;
}

.ratingMainImg p span {
  background: #6d7278;
  color: #ffc600;
  text-align: center;
  padding: 5px 20px;
  border-radius: 40px;
}

.ratingCOntent {
  margin: 50px 0 35px;
}

.ratingCOntent h2 {
  font-size: 65px;
  text-align: center;
  font-weight: 600;
  color: #333333;
  line-height: 60px;
  max-width: 1000px;
  margin: 0 auto 40px;
}

.ratingCOntent h2 span {
  font-weight: 800;
  background-image: linear-gradient(90deg, rgba(255, 198, 2, 0), #ffc602);
  padding: 0 10px;
  border-radius: 50px;
  display: inline-block;
}

.ratingCOntent p {
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  color: #333333;
  line-height: 50px;
  margin: 0 auto 40px;
  max-width: 800px;
}

.ratingCOntent p span {
  font-weight: 500;
  background-image: linear-gradient(90deg, rgba(255, 198, 2, 0), #ffc602);
  padding: 0 10px;
  border-radius: 50px;
  display: inline-block;
}
.mobile{
display: none;
}
/* -------------------------------media screen---------------------- */
@media screen and (max-width: 1024px) {
  .ratingImg img {
    width: 200px;
  }

  .ratingImg :nth-child(2) {
    width: 250px;
  }

  .ratingLogoImg img {
    width: 35%;
  }
  .ratingMainImg img {
    width: 100%;
  }
  .ratingCOntent p {
    font-size: 28px;
  }
  .rating {
    padding: 100px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .mobile{
    display: block;
    }
    .desktop{
      display: none;
      }
  .rating {
background-color: #f4f4f4;
  }
  .ratingImg img {
    width: 100px;
  }
  .ratingCOntent p {
    font-size: 22px;
    line-height: 35px;
  }

  .ratingImg :nth-child(2) {
    width: 150px;
  }

  .ratingLogoImg {
    display: block;
  }
  .ratingLogoImg img {
    width: 95%;
    display: block;
    margin: 0 auto 20px;
  }
  .ratingCOntent h2 {
    font-size: 40px;
    line-height: 55px;
  }

  .ratingMainImg img {
    margin: -120px 0 -90px;
  }
  .ratingMainImg p span {
    font-size: 12px;
   padding: 5px 10px;
  }
 
}
