.zamow-hero h1 {
  font-size: 70px;
  font-weight: 400;
}

.zamow-hero p {
  line-height: 1.4;
  font-weight: 300;
  color: rgb(45 45 45);
  font-size: 22px;
}

.custom-color {
  color: #d21e00;
  font-weight: 700;
}

.input-container {
  position: relative;
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.zemow-hero-input {
  font-weight: 300;
  border-radius: 30px;
  padding: 12px 18px;
  width: 100%;
  border: none;
  font-size: 22px;
}

.zamow-hero-btn {
  position: absolute;
  padding: 12px 18px;
  font-size: 22px;
  border-radius: 30px;
  right: 0;
  top: 0;
  color: #fff;
  text-decoration: none;
  background: #d21e00;
  border: 2px solid #981a05;
  box-shadow: 0 0 0 0 #981a05, 0 4px 0 0 #981a05;
  transform: translateY(calc(-1 * 3px));
}

.line-container {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  margin-left: 10px;
}
