.faqContainer {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 70px 70px;
}
.accordion-item {
  /* border-bottom: 2px solid #b9b9b9; */
  padding: 42px 24px 42px 24px;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}

.accordion-content {
  padding: 24px;
}

.faqContainer .accordion-item {
  position: relative;
}

.faqContainer .accordion-item:hover:before {
  width: 100%;
}
.faqContainer .accordion-item:nth-child(1):before {
  background-color: #ffc700;
}
.faqContainer .accordion-item:before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  pointer-events: none;
  z-index: -1;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/* unwanted css */
.faqContainer a > span > span {
  background: white;
  padding: 30px;
  margin: 3px;
  border-radius: 60px;
  color: #333;
  text-decoration: none;
  font-size: min(3.5vw, 30px);
  font-family: arial;
  font-weight: bold;
}
.faqContainer a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  text-decoration: none;
  border-radius: 60px;
  background: #ffc700;
  background: linear-gradient(90deg, #ffc700 0%, #ee8aa1 50%, #1ec19b 100%);
  display: inline-flex;
}
.faqContainer a > span {
  transform: translate(-10px, -10px);
  transition: transform 0.5s;
  border-radius: 60px;
  background: #ffc700;
  background: linear-gradient(90deg, #ffc700 0%, #ee8aa1 50%, #1ec19b 100%);
  padding: 2px 2px;
  display: inline-flex;
}
.faqContainer a > span:hover {
  transform: translate(0px, 0px);
}
h2.textAnimation {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 50px;
}
