.po_pricing_sec {
  padding: 50px 0 100px;
  text-align: center;
  max-width: 800px;
}
.po_title {
  font-size: 48px;
  font-weight: 500;
}

.po_title {
  font-size: 46px;
  font-weight: 500;
}
p.po_subtitle {
  max-width: 600px;
  margin: 0 auto;
  font-size: 22px;
}

.po_card_custom {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15), 0 0 0 #ffffff,
    2px 2px 2px #ffffff inset, -2px -2px 2px #c7c7c7 inset;
  border-radius: 30px;
  padding: 56px 0;
  background-color: rgba(247, 247, 247, 1);
  width: 96%;
  margin: auto;
  margin-top: 70px;
}

.po_card_custom h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.po_input {
  border-radius: 30px;
  padding: 10px 18px;
  width: 100%;
  margin-bottom: 30px;
  border: 0.5px solid gray;
}

.po_btn_container button {
  padding: 6px 16px;
  border-radius: 30px;
  color: white;
  background-color: #d21e00;
  font-size: 20px;
  outline: none;
  border: 1px solid black;
}

.po_brands {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(43, 43, 43);
}

.po_brands {
  text-align: end;
  color: white;
  font-size: 16px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  padding: 40px 100px;
  /* gap: 30px; */
}

.brand_desktop {
  width: 50%;
  margin: 0 auto;
}

.brand_mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .po_card_custom {
    width: 100%;
  }
  .po_pricing_sec {
    padding: 50px 0 80px;
  }
  .po_title {
    font-size: 40px;
  }
  .po_brands {
    display: block;
    text-align: start;
    padding: 50px 20px;
  }
  .po_brands p {
    text-align: center;
  }
  .po_brands img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .po_title {
    font-size: 30px;
  }
  .po_card_custom {
    padding: 50px 20px;
  }
  .po_card_custom h2 {
    font-size: 20px;
  }
  .po_brands {
    text-align: start;
  }
  .po_brands {
    text-align: start;
    display: block;
    background-color: transparent;
    color: #808080;
  }

  .brand_desktop {
    display: none;
  }

  .po_brands p {
    text-align: center;
  }

  .brand_mobile {
    display: block;
  }
}
