.opinionBanner {
  padding: 50px 0;
  background: #f5f5f5;
}

.opinionBanner img {
  width: 100%;
}

.opinionBnnaerImg {
  margin: -60px 00 0;
}

.opinionContent h1 {
  font-size: 63px;
  line-height:63px;
  font-weight:800;
  color: #333;
}





/* ===================job=============== */
.brilliant {
  background: white;
  padding: 100px 0 50px;
}

.job {
  max-width: 900px;
  margin: 0 auto;
}

.jobImg img {
  width: 100%;
}

.jobContent h3 {
  font-size: 50px;
  font-weight: 700;
  color: #3e3e3e;
}

.jobContent h3 span {
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 20px;
  padding: 0 10px;
  display: inline-block;
}

.jobReview {
  margin: 30px 0;
}

.jobRating h6 {
  font-weight: 600;
  margin: 15px 0 5px;
}

/* ========================review======================== */
.review {
  background: white;
  padding: 100px 0;
}

.opinionContainer {
  max-width: 900px;
  margin: 0 auto;
}

.cardReview {
  width:calc(100% - 2px);
  border:1px solid #d9d9d9;
}

.reviewMainImg {
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.cardReview:hover .reviewMainImg {
  filter: grayscale(0%);
}

.reviewLogoImg {
  width: 70%;
  margin: 20px auto 10px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.cardReview:hover .reviewLogoImg {
  filter: grayscale(0%);
}

.cardReview .star {
  display: flex;
  align-items: center;
  padding:10px 15px;
}

.cardReview .star div h6 {
  font-size: 0.78rem;
  line-height:0.78rem;
  font-weight: 500;
  margin:0px;
}
  
.cardReview .star p {
  font-size: 0.78rem;
  line-height:0.78rem;
  font-weight:300;
  padding:0;
  margin-bottom:0;
  min-height: 1px;
}



.cardReview p {
  font-size: 15px;
  padding:0 15px;
  min-height:190px;
}

.cardReview p span {
  font-weight: 600;
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 20px;
  padding: 0 10px;
  display: inline-block;
}

.StarBox{min-width:96px;}
.StarBox svg{width:13px !important;}

/* ===========================teams================== */
.teams {
  background: white;
  padding: 50px 0 100px;
}

.teamsContainer {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.teamsCard {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius:30px;
  position: relative;
}

/* .teamsTopContent {
  display: flex;
  justify-content:center;
  align-items: end;
  position: relative;
} */

.teamsTopContent h2 {
  font-size: 85px;
  line-height: 77px;
  font-weight: 700;
  margin: 0 -5px 40px;  
  color: #000;
  /* text-align: center; */
}

.teamsTopContent img {
  position: absolute;
  bottom: -93px;
  right: 60px;
  z-index: 1;
}

.maleImg {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.femaleImg {
  width: 400px;
  position: absolute;
  left: 0;
  top: 310px;
}

.teamLeftContent {
  margin: 250px 0 0 250px;
  color: var(--brand-blue);
  font-size: 35px;
  text-align: right;
  line-height: 50px;
}

.teamLeftContent span {
  font-weight: 700;
}

.teamsCardContent {
  padding: 50px 0 0 20px;
}

.teamsCardContent h5 {
  margin:0 0 50px;
  font-size:35px;
  line-height:46px;
  color: white;
  font-weight: 700;
}

.teamsCardContent h5 span {
  /* color: var(--brand-blue); */
  display: block;
}

.teamsCardContent h5 span.FullSpan{ color:#00BFFF;}

.teamsCardContent p {
  font-size:27px;
  line-height:38px;
  font-weight: 300;
  color:rgb(125, 125, 125);
  margin: 0 0 50px;
  padding:0;
}

/* ================================brand========================================= */
.brands {
  background: white;
  padding: 0px 0 1px;
}

.brands h2 {
  font-size:56px;
  line-height:67px;
  font-weight:700;
  margin:0 0 100px 0;
}

.brands h2 span {
  /* font-weight: 600; */
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 20px;
  padding: 0 10px;
  display: inline-block;
}



.brandSlide {
  margin: 0 0 100px;
}

.brandSlide h4 {
  font-size: 32px;
  line-height:32px;
  font-weight: 700;
  margin:0 -154px 70px 0;
}

.brandSlideItem img {
  width: 100%;
}

/* =======================rating=================== */

.rating {
  background: white;
  position: relative;
  padding: 0 0 70px;
}

.ratingContainer {
  max-width: 900px;
  margin: 0 auto;
}

.ratingBlackCard {
  background-color: rgb(0, 0, 0);
  padding:26px 50px 50px;
  border-radius: 30px;
  position: relative;
}

.face {
  position: absolute;
  left: 50px;
  top: -68px;
  z-index: 1;
  display: none;
}

.faceMotion {
  min-height: 150px;
  position: relative;
}

.eyes {
  /* position: absolute;
  z-index: 1;
  left: 45px;
  top: -280px; */

  position: absolute;
  z-index: 1;
  left: 0px;
  top: -225px;
}

.ratingBlackCard img {
  width: 80%;
  margin: 50px auto 0;
  display: block;
}

.ratingBlackCard h6 {
  font-size: 22px;
  line-height:34px;
  font-weight:400;
  color: var(--brand-blue);
  margin: 50px 0 25px;
}

.ratingBlackCard p {
  font-size:32px;
  line-height:32px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-right:-22px;
}

.ratingBlackCard p.textChange{color: rgb(125, 125, 125);}

.ratingBlackCard p.textwhite{color:#fff; margin-bottom:25px; margin-right:-30px;}
.ratingBlackCard p.textsmallP{font-size:25px; line-height:37px; font-weight:300; color: rgb(125, 125, 125); margin-top:30px;}


.ratingCardContent {
  position: relative;
}

.ratingCardContent::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  width: 3px;
  background:#00BFFF;
}

.topBtn {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top:40px;
}

.topBtn h4 {
  color: #00BFFF;
  font-size:36px;
  line-height:54px;
  font-weight: 700;
}

.topBtn p {
  color: white;
  background: var(--brand-blue);
  font-weight: 400;
  font-size: 28px;
  padding: 10px 20px;
  border-radius: 100px;
}

.accordion {
  background-color: white;
  padding: 50px 0;
}

/* ================google review==================================== */
.google {
  background: white;
}

.googleReviewBanner img {
  margin-inline: auto;
  display: block;
  width: 50%;
  height: auto;
  margin-block: 50px;
}

.google h2 {
  font-size: 56px;
  line-height: 67px;
  font-weight: 700;
  margin: 0 0 50px;
  text-align: center;
  /* color: #3e3e3e; */
}

.google h2 span {
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 20px;
  padding: 0 10px;
  display: inline-block;
}

.googleMenu ul {
  display: flex;
  align-items: start;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.googleMenu ul li {
  font-size: 28px;
  font-weight: 600;
}

.googleMenu ul li .playBG {
  width: 40px;
  height: 40px;
  background-color: var(--brand-blue);
  border-radius: 100%;
  text-align: center;
}

.googleMenu ul li .playBG img {
  width: 70%;
}

.googleHover {
  position: relative;
  display: inline-block;
  color: #5f5f5f;
}

.hoverMenu {
  display: none;
  position: absolute;
  width: 600px;
  z-index: 1;
  color: #5f5f5f;
  background: white;
  padding: 10px;
}

.hoverMenu a {
  color: black;
  text-decoration: none;
  display: block;
  color: #5f5f5f;
  font-size: 20px;
}

.hoverMenu a:hover {
  color: #ffca14;
}

.googleHover:hover .hoverMenu {
  display: block;
}

.googleCard {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 30px;
  box-shadow: 0 0 10px lightgray;
  margin: 8px;
}

.googleCard .profile {
  display: flex;
  gap: 15px;
  align-items: center;
}

.googleCard .profile h6 {
  font-size: 15px;
  margin: 0;
}

.googleCard .profile p {
  font-size: 14px;
  margin: 0;
}

.googleCard .comment p {
  font-size: 16px;
  margin: 15px 0 20px;
}

.googleCard .comment button {
  font-size: 16px;
  border: none;
  outline: none;
  font-weight: 500;
  background: white;
}

/* ====================reference===================== */
.opinionContent h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--brand-blue);
}

.opinionContent h4 {
  font-size: 30px;
  font-weight: 700;
  color: black;
  line-height: 30px;
  padding: 0 0 25px;
}

.opinionContent h4 span {
  background: var(--brand-blue);
  font-weight: 800;
  padding: 0 10px;
  border-radius: 20px;
}

.tesco {
  padding: 40px 0;
}

.tesco h4 {
  text-align: center;
  font-size:2rem;
  font-weight:300;
}

.tesco p {
  text-align: center;
  font-size: 1rem;
  font-weight:300;
}

.tesco img {
  width: 85%;
  margin: 0 auto 20px;
  display: block;
}

.referenceCard {
  width: 90%;
  margin: 0 auto 80px auto;
}

.referenceCard .cardTop {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.referenceCard .cardTop h6 {
  font-size: 15px;
  margin: 0;
}

.referenceCard .cardTop p {
  font-size: 13px;
}
.cardTop svg{
  font-size: 15px;
}
.referenceCard p {
  font-size: 16px;
}

.referenceCard p span {
  background: var(--brand-blue);
  padding: 0 10px;
  border-radius: 20px;
  display: block;
  font-weight: 600;
}

.referenceCardSec {
  margin: 40px 0 0;
  padding: 0 0 40px;
}

/* ======================personally===================== */
.Personally {
  background: white;
  padding: 50px 0;
  position: relative;
  overflow-x: hidden;
}

.personallyContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.personallyCard {
  width: 100%;
  background-color: black;
  border-radius: 30px;
  padding: 50px;
  position: relative;
}

.personallyCard h2 {
  font-size: 61px;
  line-height:68px;
  font-weight: 700;
  color: white;
  margin: 0 0 50px;
}

.personallyCard p {
  font-size: 27px;
  line-height:41px;
  font-weight: 300;
  color: rgb(125, 125, 125);
  margin: 0 0 50px;
}

.personallyCard .contact h4 {
  font-size: 28px;
  line-height:42px;
  font-weight: 600;
  color: white;
}

.personallyCard .contact p {
  font-size: 28px;
  line-height:42px;
  font-weight: 400;
  color: white;
  margin: 0 0 10px;
}

.personallyCard .contact a {
  font-size: 26px;
  line-height:29px;
  font-weight: 400;
  color: var(--brand-blue);
}

.personallMan {
  /* position: absolute;
  width: 400px;
  z-index: 1;
  left: 0; */

  position: absolute;
  width: 550px;
  z-index: 1;
  top: 20%;
  border-radius: 10px;
  left: auto;
  right: 100%;
  margin-right: -380px;
}

.personallHand {
  position: absolute;
  width: 400px;
  bottom: 160px;
  z-index: 0;
  left: 0;
}

/* ==========================expert=============================== */
.expert {
  /* background-image: linear-gradient(180deg, #fcfcfc 53%, #e3e3e3); */
  padding: 70px 0 0;
}

.expertContent h2 {
  font-size: 50px;
  font-weight: 300;
  color: #3e3e3e;
  text-align: center;
}

.expertLogo {
  display: flex;
  align-items: center;
  gap: 50px;
  margin:10px 0 30px 0;
}

.buttonContainer {
  display: flex;
  justify-content:space-between;
}

.showAllbtn {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 20px;
}

.googlePlay {
  width: 35px;
  height: 35px;
  background: var(--brand-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.googlePlay img {
  width: 20px;
}
.googlePlay svg {
  width: 20px;
  height:20px;
}

/* .StarBox{min-width:115px;} */

.mt95 {
  margin-top: -95px;
}

.opinionBanner img {
  width: 90%;
  height: 80%;
}
img.opinionBnnaerImg {
  margin-top: 0px;
}

.emoFace {
  position: relative;
}

.expertLogo img {
  width: 100%;
}

.colmobileshow{display: none;}

/* ------------------------------media screen ------------------------------- */

@media only screen and (max-width: 1600px) {
  .opinionContent h1{margin-left:0; margin-right:0;}
  .personallMan{width:460px;}
}
@media only screen and (max-width: 1200px) {
  .personallMan{
    width: 340px;
    margin-right: -300px;
}
}
@media only screen and (max-width: 991px) {
  .personallMan {
    position: absolute;
    width: 400px;
    z-index: 1;
    left: 0;
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .opinionContent h1 {
    font-size: 50px;
  }

  .customer_replies_container {
    margin-top: 0;
    width: 100%;
  }

  .job {
    max-width: 90%;
  }

  .job {
    max-width: 90%;
  }

  .opinionContainer {
    max-width: 90%;
  }

  .teamsTopContent h2 {
    margin-bottom: 300px;
    max-width: 90%;
  }

  .maleImg {
    max-width: 70%;
    margin-top: 70px;
  }

  .femaleImg {
    width: 250px;
    top: auto;
    bottom: 0;
  }

  .teamLeftContent {
    margin: 20px 0 0 0px;
    text-align: center;
  }

  .teamsCardContent {
    padding: 0 0 0 180px;
  }

  .animatedCar {
    width: 250px !important;
    margin: -200px 0 0 -80px !important;
  }

  .ratingBlackCard p {
    font-size: 25px;
  }

  .rating {
    background: white;
    position: relative;
    padding: 0 0 50px;
  }

  .google h2 {
    font-size: 50px;
  }

  .opinionContent h4 {
    line-height: 45px;
  }

  

  .personallHand {
    width: 400px;
    bottom: 0px;
    left: auto;
    right: 0;
  }

  .expertLogo {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .expertLogo img {
    margin-inline: auto;
    display: block;
  }

}


  @media only screen and (max-width: 767px) {
  .emoFace {
    width: 200px;
  }
  .opinionBanner img {
    width: 70%;
    margin-inline: auto;
    display: block;
    margin-top: 20px;
  }

  /* .opinionContent h1 {
    font-size: 40px;
    text-align: center;
  } */

  

  .teamsTopContent h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .teamsTopContent img {
    bottom: -48px;
    width: 60%;
  }

  .teamsTopContent h2 {
    margin-bottom: 160px;
    max-width: 90%;
  }

  .teamsCard {
    padding: 20px;
  }

  .teamLeftContent {
    font-size: 30px;
    line-height: 40px;
  }

  .teamsCardContent {
    padding: 0 0 0 0px;
    margin-bottom: 300px;
  }

  .teamsCardContent p {
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 50px;
    padding: 0 0px 0 0;
  }

  .femaleImg {
    width: 200px;
  }

  .animatedCar {
    width: 200px !important;
    margin: -200px 0 0 80px !important;
  }

  .brands h2 {
    font-size: 40px;
  }

  .face {
    left: 50px;
    top: 47px;
    width: 50%;
  }

  .brandSlide {
    margin: 0 0 100px;
  }

  .ratingCardConten::before {
    display: none;
  }

  .ratingBlackCard {
    padding: 20px;
  }

  .ratingBlackCard p {
    font-size: 22px;
  }

  .accordion {
    padding: 20px 0 50px;
  }

  .google h2{
    font-size: 30px;
    line-height:26px;
    margin-bottom:20px;
  }

  .google h4 {
    font-size: 22px;
    line-height:20px;
  }

  .googleMenu ul li {
    font-size: 22px;
    font-weight: 600;
  }
  .googleMenu ul li .playBG img {
    width: 60%;
  }
  .hoverMenu {
    width: 100%;
    padding: 10px;
    white-space: nowrap;
  }
  .mt95 {
    margin-top: 0px;
  }
  .brand_Slide_ButtonNext {
    padding-right: 0 !important;
  }

    .showAllbtn {
    justify-content: flex-end;
  }
  .personallyCard {
    padding: 30px;
    position: relative;
  }
  .personallyCard p {
    font-size: 22px;
  }
  .personallyCard h2 {
    font-size: 40px;
  }
  .personallHand {
    width: 300px;
    transform: translateX(-50px) translateY(50px);
  }
  .contact {
    margin-bottom: 150px;
  }
  .expertLogo {
    margin: 0px;
  }
  .expertContent h2 {
    font-size: 40px;
    font-weight: 300;
    color: #3e3e3e;
    text-align: center;
  }

  .expertLogo img {
    width: inherit;
  }

  .Personally {
    z-index: 1;
  }

  .personallyContainer {
    margin-top: 350px;
  }

  .personallMan {
    display: block;
    top: -385px;
    z-index: -1;
    width: 100%;
    right: 0;
    /* width: -webkit-fill-available; */
  }

  .eyes {
    top: -268px;
    left: 0px;
    width: 200px;
    max-width: 450px;
  }
  .opinionContent h1{font-size: 22px; line-height:22px; text-align: left; margin-left: 0; margin-right: -15px;}
  .opinionBanner{padding:20px 0 0;}
  .opinionBanner img{margin-top:0; width:90%;}
  .job, .teamsContainer, .opinionContainer, .ratingContainer, .personallyContainer{width: calc(92vw - 24px) !important; max-width: calc(92vw - 24px) !important;}
  .opinionContainer{max-width:none;}
  .opinionContainer .slick-slide{padding-right:0;}
  .teamsTopContent h2{max-width:100%; margin-bottom:20px; font-size:30px; line-height:26px;}
  .teamsCard{border-radius:15px;}
  .maleImg{margin:0; max-width:100%; width:100%; margin-bottom:30px;}
  .teamsCardContent{margin:0;}
  .teamsCardContent h5{font-size:22px; line-height:28px; margin-bottom:20px;}
  .teamsCardContent p{font-size:20px; margin-bottom:20px;}
  .teams{padding:26px 0 40px;}
  .brands h2{font-size:30px; line-height:26px; margin-bottom:24px;}
  .brandSlide{margin-bottom:30px;}
  .brandSlide h4{font-size:20px; margin-bottom:30px;}

  .ratingBlackCard img{margin:0 auto 0;}
  .ratingBlackCard h6{margin-top:20px; font-size:17px; line-height:22px; margin-bottom:14px;}
  .topBtn{display: block;}
  .ratingBlackCard p{margin-right:0;}
  .ratingBlackCard .topBtn p{text-align: center;}
  .brands .brandSlideItem{padding-right:120px;}
  .tesco{padding:20px 0;}
  .referenceCardSec{margin-top:0;}
  .referenceCard{width:100%; margin-bottom:40px;}
  .personallyCard h2{font-size:30px; line-height:26px; margin-bottom:25px;}
  .personallyCard p{margin-bottom:35px; line-height:30px;}
  .contact{margin-bottom:0;}
  .personallyCard .contact h4, .personallyCard .contact p, .personallyCard .contact a{font-size:22px; line-height:28px; margin-bottom:3px;}
  .personallyCard .contact p, .personallyCard .contact a{font-weight:300;}
  .expert{padding-top:40px;}
  .expertContent h2{font-size:24px; line-height:24px;}

  
  .topBtn{display: none; margin-top:14px;}
  .topBtn h4{font-size:20px; line-height:20px;}
  .brands h2{margin-right:-5px;}
  .ratingBlackCard .topBtn p{font-size:15px; line-height: 20px; padding: 3px 5px;}

  .colmobileshow{display:flex;}
  .colmobileshow .topBtn{display: block;}
  .ratingBlackCard p{margin-bottom:0;}
  .rowmobileflex{display: flex; flex-wrap: wrap; margin:0 -5px;}
  .rowmobileflex > div{flex: 0 0 auto; width: 50%; padding:0 5px;}

  .ratingBlackCard p.textwhite{margin-right:0; font-size:21px; line-height:28px; margin-bottom:10px;}
  .ratingBlackCard p.textChange{font-size:18px; line-height:25px;}
  .ratingBlackCard .textsmallP{font-size:16px !important; line-height:20px !important;}
  .ratingCardContent::before{display: none;}
  .brandSlide h4{margin-right:0;}
  .cardReview{margin-bottom:20px;}
  .showAllbtn{font-size: 14px; gap: 7px;}
  .googlePlay{width: 20px; height: 20px;}
  .googlePlay svg{width:12px; height:12px;}
  .personallyCard p{font-size: 20px;}
}
