.navbar {
  padding: 20px 50px;
  background: transparent;
  -webkit-transition: background 2s;
  transition: background 2s;
  display: block;
}
.navbar:hover {
  background: rgb(255, 255, 255);
}
.leftNav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.headerDrop1:hover .dropMenu {
  display: block;
}
.headerLeftBtn {
  border-radius: 50px;
  padding: 5px 30px;
  background: transparent;
  color: white;
  box-shadow: 0px 3px 0px #c1c1c1;
  border: 2px solid #eaeaea;
  font-weight: 500;
  font-size: 18px;
}

.headerLeftBtn a {
  text-decoration: none;
  color: white;
}
.headerLeftBtn:hover a,
.navbar:hover a {
  color: rgb(0, 0, 0);
}

.headerLeftBtn:hover {
  box-shadow: none;
  background: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid gray;
}
.navbar:hover .headerLeftBtn {
  color: black;
  border: 2px solid gray;
}
.dropBtn {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}
.navbar:hover .dropBtn {
  color: rgb(0, 0, 0);
}
.headerRightBtn {
  border-radius: 50px;
  padding: 5px 20px;
  background: #ffc600;
  color: rgb(1, 1, 1);
  font-weight: 500;
  font-size: 18px;
  border: none;
  transition: transform 0.05s cubic-bezier(0.5, 1, 0.7, 0.7) 0s,
    box-shadow 0.05s cubic-bezier(0.5, 1, 0.7, 0.7) 0s,
    border 0.05s cubic-bezier(0.5, 1, 0.7, 0.7) 0s;

  /* box-shadow: 0px 3px 0px #181818; */
}

.headerRightBtn a {
  text-decoration: none;
  color: white;
}
.headerRightBtn:hover a,
.navbar:hover a {
  color: rgb(0, 0, 0);
}


.navbar:hover .headerRightBtn {
  box-shadow: 0px 3px 0px #181818;
  background: #ffc600;
  color: black;
}
.headerRightBtn:hover {
  box-shadow: none !important;
}
.rightNav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.navRightMenu {
  color: white;
  font-size: 18px;
}

.navRightMenu a {
  text-decoration: none;
  color: white;
}

.navbar:hover .navRightMenu {
  color: rgb(9, 9, 9);
  font-size: 18px;
}
.navbar:hover .navRightMenu a {
  color: rgb(9, 9, 9);
  font-size: 18px;
}

.dropMenu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 11111;
  width: 100%;
  left: 0;
  top: 150px;
  box-shadow: none;
  height: 90vh;
  padding: 50px 0;
}

.dropMenu::before {
  content: "";
  height: 100px;
  width: 34vw;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 100px;
  z-index: 1111;
  top: -66px;
}
.headerMenu h3 {
  font-size: 28px;
  font-weight: 300;
  color: #c6c6c6;
  margin-bottom: 40px;
}
.headerMenu a {
  font-size: 20px;
  font-weight: 500;
  color: #484848;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}
.headerMenu a:hover {
  translate: 5px;
  transition-duration: 0.2s;
  color: #e74a50;
}
.headerDrop2BG {
  background: #f6f6f6;
  padding: 40px 0;
}



.mobileMenuToggle {
  display: none;
}


/* ------------------- */
/* styles/Header.module.css */
.mobileLeftBtn{
  border-radius: 50px;
  padding: 5px 15px;
  background: transparent;
  color: white;
  box-shadow: 0px 3px 0px #c1c1c1;
  border: 2px solid #eaeaea;
  font-weight: 500;
  font-size: 14px;
}
.mobileLeftBtn a{
  color: white;
text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.nav {
  display: none;
  flex-direction: column;
}
.dropMenu{
  display: none;
}
.dropMenu.dropOpen{
  display: block;
}

.nav.open {
  display: flex;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.menuIcon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.menuIcon span {
  font-size: 14px;
}
.mobileMenuList li{
  background: #f7fafd;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid #d1e6fc;
    margin: 0 0 20px;
}
.mobileMenuList li a{
  color: #202020;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.mobileDropBtn{
  color: black;
  display: flex;
  justify-content: space-between;
}

/* ======= */
.MobileDropdownBtn{
  display: flex;
  border: navajowhite;
  background: transparent;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;
}
.menuItem {
  margin-top: 20px;
}
.menuItem a{
  display: block;
  background: white;
  margin: 0 0 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}
.mobileHeader{
  display: none;
}
@media screen and (max-width: 1024px) {
  .navbar{
   display: none;
  }
  .dropBtn {
    color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
  }
  .menuIcon {
    display: block;
  }
  .nav {
    position: absolute;
    top: 96px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 11111;
  }
  .mobileHeader{
    display: block;
  }
  
 }

@media (max-width: 768px) {
  
}

