.navbar {
  padding: 20px 50px;
  background: transparent;
  -webkit-transition: background 2s;
  transition: background 2s;
  display: block;
}

.navbar:hover {
  background: rgb(255, 255, 255);
}

.leftNav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.headerLeftBtn {
  border-radius: 50px;
  padding: 5px 30px;
  background: transparent;
  color: white;
  /* box-shadow: 0px 4px 0px var(--brand-blue); */
  border: 2px solid var(--brand-blue);
  font-weight: 500;
  font-size: 16px;
}

.headerLeftBtn a {
  text-decoration: none;
  color: black;
}

.headerLeftBtn:hover a,
.navbar:hover a {
  color: rgb(0, 0, 0);
}

.headerLeftBtn:hover {
  box-shadow: none;
  background: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid gray;
}

.navbar:hover .headerLeftBtn {
  color: black;
  border: 2px solid var(--brand-blue);
}

.dropBtn {
  color: black;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  font-weight: 500;
}

.dropBtn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #181818;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.dropBtn:hover:after {
  width: 100%;
  left: 0;
}

.navbar:hover .dropBtn {
  color: rgb(0, 0, 0);
}

.headerRightBtn {
  border-radius: 50px;
  padding: 5px 20px;
  background: #00bfff;
  color: rgb(1, 1, 1);
  font-weight: 500;
  font-size: 15px;
  border: none;
  transition: transform 0.05s cubic-bezier(0.5, 1, 0.7, 0.7) 0s,
    box-shadow 0.05s cubic-bezier(0.5, 1, 0.7, 0.7) 0s,
    border 0.05s cubic-bezier(0.5, 1, 0.7, 0.7) 0s;
}

.headerRightBtn a {
  text-decoration: none;
  color: #262626;
}

.headerRightBtn:hover a,
.navbar:hover a {
  color: rgb(0, 0, 0);
}

.navbar:hover .headerRightBtn {
  box-shadow: 0px 3px 0px #181818;
  background: #00bfff;
  color: black;
}

.headerRightBtn:hover {
  box-shadow: none !important;
}

.rightNav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.navRightMenu {
  color: white;
  font-size: 16px;
  padding: 15px;
  font-weight: 500;
}

.navRightMenu a {
  text-decoration: none;
  color: black;
  position: relative;
}

.navRightMenu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: #181818;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navRightMenu a:hover:after {
  width: 100%;
  left: 0;
}

.navbar:hover .navRightMenu {
  color: rgb(9, 9, 9);
  font-size: 14px;
}

.navbar:hover .navRightMenu a {
  color: rgb(9, 9, 9);
  font-size: 16px;
}

.dropMenu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 11111;
  width: 100%;
  left: 0;
  top: 130px;
  box-shadow: none;
  height: 90vh;
  padding: 50px 0;
  transition: transform 10s ease-in-out;
  transform: translateY(-100px);
}
.headerDrop1:hover .dropMenu {
  display: block;
  opacity: 1;
  background: white;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0px);
}

.dropMenu::before {
  content: "";
  height: 100px;
  width: 34vw;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 100px;
  z-index: 1111;
  top: -66px;
}

.headerMenu h3 {
  font-size: 23px;
  font-weight: 300;
  color: #c6c6c6;
  margin-bottom: 20px;
}

.headerMenu a {
  font-size: 17px;
  font-weight: 500;
  color: #484848;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
}

.headerMenu a:hover {
  translate: 5px;
  transition-duration: 0.2s;
  color: #e74a50;
}

.headerDrop2BG {
  background: #f6f6f6;
  padding: 40px 0;
}

.mobileMenuToggle {
  display: none;
}

/* ------------------- */
/* styles/Header.module.css */
.mobileLeftBtn {
  border-radius: 50px;
  padding: 5px 15px;
  background: transparent;
  color: white;
  /* box-shadow: 0px 3px 0px #c1c1c1; */
  border: 2px solid #eaeaea;
  font-weight: 500;
  font-size: 14px;
}

.mobileLeftBtn a {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  color: black;
}

.logo {
  font-size: 1.5rem;
}

.logo img {
  margin-left: auto;
  display: block;
  width: 380px;
}

.nav {
  display: none;
  flex-direction: column;
}

.dropMenu.dropOpen {
  display: block;
  opacity: 1;
}

.nav.open {
  display: flex;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.menuIcon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.menuIcon span {
  font-size: 14px;
}

.mobileMenuList li {
  background: #f7fafd;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid #d1e6fc;
  margin: 0 0 20px;
}

.mobileMenuList li a {
  color: #202020;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.mobileDropBtn {
  color: black;
  display: flex;
  justify-content: space-between;
}

/* ======= */
.MobileDropdownBtn {
  display: flex;
  border: navajowhite;
  background: transparent;
  width: 100%;
  justify-content: space-between;
  font-size: 16px;
}

.menuItem {
  margin-top: 20px;
}

.menuItem a {
  display: block;
  background: white;
  margin: 0 0 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}

.mobileHeader {
  display: none;
}

.callButton{
  background-color: var(--brand-blue) !important;
}
.callButton a{
  color: white !important;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
/* ---------------------------------new menu css-------------------------- */
.blackMenu .headerLeftBtn{
  border-color: var(--brand-blue);
}
.blackMenu .headerLeftBtn a{
  color: white;
}
.blackMenu .dropBtn{
  color: white;
}
.blackMenu .navRightMenu a{
  color: white;
}
.blackMenu:hover .headerLeftBtn a{
  color: black;
}
/* ------------------------------------media screen-------------------------------------------------------- */
@media screen and (max-width: 1450px) {
  .headerRightBtn {
    font-size: 14px;
  }
  .navRightMenu {
    font-size: 14px;
  }
  .dropBtn{
    font-size: 14px;
  }
  .headerLeftBtn{
    font-size: 14px;
  }
}
@media screen and (max-width: 1360px) {
  .logo img {
    margin-left: auto;
    display: block;
    width: 200px;
  }

  .dropMenu {
    top: 130px;
  }
  .dropBtn {
    font-size: 14px;
  }
  .navbar {
    padding: 20px 20px;
  }
  .navRightMenu {
    display: inline;
    font-size: 14px;
  }
  .headerRightBtn {
    padding: 10px 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .mobileHeader {
    display: block;
  }
  .nav {
    position: absolute;
    top: 106px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 11111;
  }
}
@media screen and (max-width: 1024px) {
  

  .dropBtn {
    color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
  }

 

 
  .mobileLeftBtn {
    /* box-shadow: 0px 3px 0px var(--brand-blue); */
    border: 2px solid var(--brand-blue);
  }
}

@media (max-width: 768px) {
  .nav {
    top: 80px;
  }
  .blackMenu .mobileLeftBtn a{
color: white;
  }
  .blackMenu .header{
color: white;
  }
}
