.nazwa_footer_bottom {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e3e3e3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 8px;
}
.nazwa_footer_bottom_left {
  display: flex;
  gap: 20px;
}
.nazwa_footer_bottom_left a {
  text-decoration: none;
  box-sizing: border-box;
  color: #aeacae;
  cursor: pointer;
  display: inline;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: left;
}
.nazwa_footer_bottom_btn {
  background-color: #aa2e2d;
  border: 0.666667px solid #aa2e2d;
  box-shadow: #c1c1c1 5px 5px 0px -1px;
  cursor: pointer;
  padding: 4px 15px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
}
