
.teamContent {
    max-width: 800px;
    margin: 0 auto;
}
.teamContent p {
    font-size: 28px;
    font-weight: 300;
    color: #3e3e3e;
    margin: 0 0 30px;
    line-height: 50px;
}
.teamContent p span {
    font-weight: 500;
    display: block;
}
.customersPara{
    margin: 100px 0;
}

@media only screen and (max-width: 1024px){
    .teamContent {
        padding: 0 40px !important;
    }
    .customersPara{
        margin: 0px 0 100px !important;
    }
}
@media only screen and (max-width: 767px){
    .teamContent p {
        font-size: 22px;
        line-height: 40px;
    }
}
