.fc_sec {
  padding:0px 100px 100px;
  color: #3f3f3f;
}

.fact_container {
  text-align: center;
  margin: 50px auto;
  max-width:635px;

}

.facts_img_card {
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  overflow: hidden;
  object-fit: contain;
}

.facts_title_card {
  padding: 30px 0 0;
  border-radius: 40px;
  width: 100%;
  margin: 0 auto 15px;
  display: flex;
  align-items: Start;
  justify-content: center;
  background-color: #f3f3f3;
}
.facts_title_card h2 {
  font-size: 48px;
}

.fact_container p {
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  margin:0 auto 24px;
  text-align: left;
}

.PDecorationFirst{min-height:66px;}
.PDecoration p:nth-child(2), .PDecoration p:last-child {
  margin-bottom: 0;
}


.fc_sec .col-lg-6:nth-child(13) .facts_title_card, .fc_sec .col-lg-6:nth-child(14) .facts_title_card, .fc_sec .col-lg-6:nth-child(15) .facts_title_card, .fc_sec .col-lg-6:nth-child(16) .facts_title_card, .fc_sec .col-lg-6:nth-child(23) .facts_title_card, .fc_sec .col-lg-6:nth-child(24) .facts_title_card, .fc_sec .col-lg-6:nth-child(25) .facts_title_card{min-height:96px;}

.fc_sec .col-lg-6:nth-child(1) .facts_title_card, .fc_sec .col-lg-6:nth-child(2) .facts_title_card, .fc_sec .col-lg-6:nth-child(3) .facts_title_card, .fc_sec .col-lg-6:nth-child(4) .facts_title_card, .fc_sec .col-lg-6:nth-child(7) .facts_title_card, .fc_sec .col-lg-6:nth-child(8) .facts_title_card, .fc_sec .col-lg-6:nth-child(9) .facts_title_card, .fc_sec .col-lg-6:nth-child(10) .facts_title_card, .fc_sec .col-lg-6:nth-child(11) .facts_title_card, .fc_sec .col-lg-6:nth-child(12) .facts_title_card, .fc_sec .col-lg-6:nth-child(17) .facts_title_card, .fc_sec .col-lg-6:nth-child(18) .facts_title_card, .fc_sec .col-lg-6:nth-child(19) .facts_title_card, .fc_sec .col-lg-6:nth-child(20) .facts_title_card, .fc_sec .col-lg-6:nth-child(21) .facts_title_card, .fc_sec .col-lg-6:nth-child(22) .facts_title_card{min-height: 154px;}

.fc_sec .col-lg-6:nth-child(5) .facts_title_card, .fc_sec .col-lg-6:nth-child(6) .facts_title_card{min-height:210px;}

/* -------------------------------media screen---------------------- */
@media screen and (max-width: 1390px) {
  .facts_title_card h2{font-size:46px;}
}
@media screen and (max-width: 1340px) {
  .facts_title_card{min-height:210px;}
  .facts_title_card h2{font-size:44px;}
}


@media screen and (max-width: 1024px) {
  .fc_sec {
    padding: 50px 30px;
    color: #3f3f3f;
  }

  .facts_title_card{min-height:190px;}
  .facts_title_card h2{font-size:38px;}

  .fc_sec .col-lg-6:nth-child(13) .facts_title_card, .fc_sec .col-lg-6:nth-child(14) .facts_title_card, .fc_sec .col-lg-6:nth-child(15) .facts_title_card, .fc_sec .col-lg-6:nth-child(16) .facts_title_card, .fc_sec .col-lg-6:nth-child(23) .facts_title_card, .fc_sec .col-lg-6:nth-child(24) .facts_title_card, .fc_sec .col-lg-6:nth-child(25) .facts_title_card{min-height:84px;}

  .fc_sec .col-lg-6:nth-child(1) .facts_title_card, .fc_sec .col-lg-6:nth-child(2) .facts_title_card, .fc_sec .col-lg-6:nth-child(3) .facts_title_card, .fc_sec .col-lg-6:nth-child(4) .facts_title_card, .fc_sec .col-lg-6:nth-child(7) .facts_title_card, .fc_sec .col-lg-6:nth-child(8) .facts_title_card, .fc_sec .col-lg-6:nth-child(9) .facts_title_card, .fc_sec .col-lg-6:nth-child(10) .facts_title_card, .fc_sec .col-lg-6:nth-child(11) .facts_title_card, .fc_sec .col-lg-6:nth-child(12) .facts_title_card, .fc_sec .col-lg-6:nth-child(17) .facts_title_card, .fc_sec .col-lg-6:nth-child(18) .facts_title_card, .fc_sec .col-lg-6:nth-child(19) .facts_title_card, .fc_sec .col-lg-6:nth-child(20) .facts_title_card, .fc_sec .col-lg-6:nth-child(21) .facts_title_card, .fc_sec .col-lg-6:nth-child(22) .facts_title_card{min-height: 130px;}

  .fc_sec .col-lg-6:nth-child(5) .facts_title_card, .fc_sec .col-lg-6:nth-child(6) .facts_title_card{min-height:175px;}
}

@media screen and (max-width: 991px) {
  .facts_title_card, .PDecorationFirst{min-height: 1px;}
  .fact_container{margin:30px auto;}
  .facts_title_card{margin-bottom:15px;}


  .fc_sec .col-lg-6:nth-child(13) .facts_title_card, .fc_sec .col-lg-6:nth-child(14) .facts_title_card, .fc_sec .col-lg-6:nth-child(15) .facts_title_card, .fc_sec .col-lg-6:nth-child(16) .facts_title_card, .fc_sec .col-lg-6:nth-child(23) .facts_title_card, .fc_sec .col-lg-6:nth-child(24) .facts_title_card, .fc_sec .col-lg-6:nth-child(25) .facts_title_card, .fc_sec .col-lg-6:nth-child(1) .facts_title_card, .fc_sec .col-lg-6:nth-child(2) .facts_title_card, .fc_sec .col-lg-6:nth-child(3) .facts_title_card, .fc_sec .col-lg-6:nth-child(4) .facts_title_card, .fc_sec .col-lg-6:nth-child(7) .facts_title_card, .fc_sec .col-lg-6:nth-child(8) .facts_title_card, .fc_sec .col-lg-6:nth-child(9) .facts_title_card, .fc_sec .col-lg-6:nth-child(10) .facts_title_card, .fc_sec .col-lg-6:nth-child(11) .facts_title_card, .fc_sec .col-lg-6:nth-child(12) .facts_title_card, .fc_sec .col-lg-6:nth-child(17) .facts_title_card, .fc_sec .col-lg-6:nth-child(18) .facts_title_card, .fc_sec .col-lg-6:nth-child(19) .facts_title_card, .fc_sec .col-lg-6:nth-child(20) .facts_title_card, .fc_sec .col-lg-6:nth-child(21) .facts_title_card, .fc_sec .col-lg-6:nth-child(22) .facts_title_card, .fc_sec .col-lg-6:nth-child(5) .facts_title_card, .fc_sec .col-lg-6:nth-child(6) .facts_title_card{min-height:1px;}
}

@media screen and (max-width: 767px) {
.facts_title_card {
  width: 100%;
  min-height: auto;
}
.facts_img_card {
  width: 100%;
}
.facts_title_card h2 {
  font-size: 32px;
}
.fact_container p {
  width: 100%;
}
}

@media screen and (max-width: 600px) {
  .fc_sec{width: 92vw; max-width: 92vw; margin: 0 auto 30px; padding: 0 12px !important;}
  .facts_title_card h2{font-size: 30px; line-height:26px; margin-bottom:16px;}
  .fact_container p{font-size:22px; line-height:32px; font-weight: 300;}
  .facts_title_card{padding-top:40px;}

  
}