.fc_sec {
  padding: 100px;
  color: #3f3f3f;
}

.fact_container {
  text-align: center;
  margin: 50px auto;
}

.facts_img_card {
  padding: 20px;
  border-radius: 30px;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  margin-bottom: -70px;
  overflow: hidden;
  object-fit: contain;
}

.facts_title_card {
  padding: 30px;
  border-radius: 40px;
  width: 70%;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}
.facts_title_card h2 {
  font-size: 48px;
  margin-top: 60px;
}

.fact_container p {
  font-size: 22px;
  font-weight: 400;
  width: 75%;
  margin: 40px auto;
  text-align: left;
}

/* -------------------------------media screen---------------------- */
@media screen and (max-width: 1024px) {
.fc_sec {
  padding: 50px 30px;
  color: #3f3f3f;
}
}

@media screen and (max-width: 767px) {
.facts_title_card {
  width: 100%;
  min-height: auto;
}
.facts_img_card {
  width: 100%;
}
.facts_title_card h2 {
  font-size: 32px;
}
.fact_container p {
  width: 100%;
}
}