/* 1. MainHeading */
.MainHeading {
  margin-bottom: 40px;
}

.MainHeading_Container {
  display: flex;
  justify-content: center;
  padding-inline: 50px;
}

.MainHeading_Title {
  font-size: 120px;
  font-weight: 700;
  line-height: 110px;
  text-align: left;
}

.MainHeading_Title span {
  background-image: linear-gradient(90deg, #b13a34, #e9a16d);
  background-repeat: no-repeat;
  background-size: 100% 28px;
  background-position: 0px 100px;
}

.MainHeading_SecondTitle {
  font-size: 75px;
  font-weight: 700;
  line-height: 76.5px;
  margin-bottom: 30px;
}

.MainHeading_Content {
  font-size: 32px;
  font-weight: 300;
  line-height: 60.8px;
  width: 600px;
}

.MainHeading_Image {
  margin-left: -150px;
  z-index: -2;
}

@media screen and (max-width: 799px) {
  .MainHeading_Container {
    flex-direction: column-reverse;
  }
}

/* 2. MainContentOne */
.MainContentOne {
  margin-bottom: 50px;
}

.MainContentOne_Container {
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
}

/* 3. MainNumber */
.MainNumber {
  margin-bottom: 60px;
}

.MainNumber_Container {
  display: flex;
  gap: 40px;
}

.MainNumber_One {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MainNumber_One_Content {
  font-size: 18px;
  line-height: 24.75px;
  text-align: center;
  color: #515151;
}

.MainNumber_Two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MainNumber_Two_Content {
  font-size: 18px;
  line-height: 24.75px;
  text-align: center;
  color: #515151;
}

/* 4. MainContentTwo */
.MainContentTwo {
  margin-bottom: 80px;
  background-image: url(https://images.prismic.io/marketersi/0e530cd3-7759-4996-8f47-9be27ed2ea7f_Strategia-Marketingowa-przyklad.avif?auto=compress,format);
  background-position: 0px -200px;
  background-repeat: no-repeat;
}

.MainContentTwo_Container p {
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
  margin: 0 0 30px;
}

.MainNumber_Two_Footer {
  display: flex;
  gap: 10px;
  margin-left: auto;
  font-weight: 300;
  line-height: 12px;
  font-size: 12px;
  color: #515151;
  text-align: left;
}
.MainContentTwo_Container p:nth-child(4) {
max-width: 500px;
}

/* 5. ResultTable */
.ResultTable {
  margin-bottom: 100px;
}

.ResultTable_Title {
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  margin-bottom: 100px;
}

.ResultTable_Table {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.52) 0px 0px 28px 0px;
  max-width: 1152px;
  padding: 40px 40px;
}

.ResultTable_Table_Row {
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 0px 20px;
}

.ResultTable_Table_Row:nth-child(1) {
  border-bottom: 1.5px solid black;
  margin: 0 0 30px;
}

.ResultTable_Table_Row:nth-child(2) {
  border-bottom: 1.5px solid black;
  margin: 0 0 30px;
}

.ResultTable_Table_Row_Content {
  font-size: 26px;
  line-height: 27px;
  max-width: 17ch;
  color: #515151;
}

.ResultTable_Table_Row_Button {
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 20px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: white;
}

.ResultTable_Table_Row_Button:hover {
  background-color: #282828;
  color: #e3e3e3;
}

/* 6. Strategy */
.Strategy {
  margin-bottom: 100px;
}

.Strategy_Title {
  font-size: 60px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  color: #333333;
  margin-bottom: 100px;
}

.Strategy_Cards {
  display: flex;
  gap: 5em;
}

.Strategy_Card {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.Strategy_Card_Title {
  color: #373737;
  font-size: 33px;
  line-height: 49.5px;
  text-align: center;
}

.Strategy_Card_Title_Number {
  font-weight: 900;
  color: rgb(208 208 208);
  font-size: 180px;
}

.Strategy_Card_Content_One {
  color: #515151;
  font-weight: 500;
  line-height: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.Strategy_Card_Content_Two {
  color: #515151;
  line-height: 24px;
}

/* 7. Testimonial */
.Testimonial {
  margin-bottom: 160px;
}

.Testimonial_Card {
  display: flex;
}

.Testimonial_Card_Content {
  background-color: white;
  padding: 50px;
  margin-left: -250px;
  margin-block: 80px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.38) 0px 0px 50px 0px;
}

.Testimonial_Card_Content_Title {
  color: #010101;
  font-family: Georgia;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.Testimonial_Card_Content_Button {
  background-color: #ff9600;
  color: #2b2b2b;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding: 25px 20px;
  border: none;
}

/* 8. ResultMax */
.ResultMax {
  margin-bottom: 120px;
}

.ResultMax_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  margin-bottom: 30px;
}

.ResultMax_Content_One {
  color: #333333;
  font-size: 32px;
  font-style: italic;
  line-height: 28.8px;
  text-align: center;
  margin-bottom: 60px;
}

.ResultMax_Content_Two {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
}

/* 9. Analysis */
.Analysis {
  margin-bottom: 60px;
  padding: 0 100px;
}

.Analysis_Card {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.Analysis_Card_Content_Odd {
  text-align: right;
}

.Analysis_Card_Content_Title {
  color: #373737;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 25px;
}

.Analysis_Card_Content_Text {
  color: #515151;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 25px;
}

.Analysis_Card_Content_Table {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
}

.Analysis_Card_Content_Table_Odd {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
  text-align: left;
  justify-content: flex-end;
}

.Analysis_Card_Content_Table_Column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #515151;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.Analysis_Card_Content_Button {
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 20px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  background-color: transparent;
}

.Analysis_Card_Content_Button_Clicked {
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 20px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  color: #373737;
  background-color: #00fe04;
  border: 2px solid #00fe04;
}

.Analysis_Card_Content_Button:hover {
  background-color: #282828;
  color: #e3e3e3;
}

/* Analysis Dropdown */
.Analysis1_Dropdown_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Analysis1_Dropdown_Image {
  overflow: hidden;
  margin-bottom: 30px;
}

.Analysis1_Dropdown_Text1 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis1_Dropdown_Text2 {
  color: #333333;
  display: inline;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  max-width: 800px;
  text-align: left;
  margin-bottom: 30px;
}

.Analysis1_Dropdown_Text3 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.Analysis1_Grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
}

.Analysis1_GridItem1 {
  flex: 0 0 calc(50% - 10px);
  background-color: #feaf4a;
  padding: 75px;
  color: white;
}

.Analysis1_GridItem2 {
  flex: 0 0 calc(50% - 10px);
  background-color: #f78061;
  padding: 75px;
  color: white;
}

.Analysis1_GridItem3 {
  flex: 0 0 calc(50% - 10px);
  background-color: #57becb;
  padding: 75px;
  color: white;
}

.Analysis1_GridItem4 {
  flex: 0 0 calc(50% - 10px);
  background-color: #8e86ad;
  padding: 75px;
  color: white;
}

.Analysis2_Dropdown_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Analysis2_Dropdown_Text1 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis2_Dropdown_Text2 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis2_Dropdown_Text3 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis2_Dropdown_Text4 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis2_Dropdown_Image1 {
  overflow: hidden;
  margin-bottom: 30px;
  align-self: flex-start;
}

.Analysis2_Dropdown_Image2 {
  overflow: hidden;
  margin-bottom: 30px;
  align-self: flex-end;
}

.Analysis3_Dropdown_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Analysis3_Dropdown_Text1 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis3_Dropdown_Text2 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis3_Dropdown_Text3 {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 800px;
  margin-bottom: 30px;
}

.Analysis3_Dropdown_Image1 {
  overflow: hidden;
  margin-bottom: 30px;
  align-self: flex-start;
}

.Analysis3_Grid {
  display: grid;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.Analysis3_GridItem1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Analysis3_GridItem2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Analysis3_GridItem3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Analysis3_GridItemNumber {
  color: #b6b6b6;
  font-size: 127px;
  font-weight: 900;
  line-height: 127px;
  text-align: center;
  margin-bottom: 30px;
}

.Analysis3_GridItemTitle {
  color: #333333;
  font-size: 28px;
  line-height: 53.2px;
  max-width: 1088px;
  text-align: center;
  margin-bottom: 40px;
}

.Analysis3_GridItemContent {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 400px;
}

.Analysis4_Dropdown_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 30px;
}

.Analysis4_Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.Analysis4_PanelImage {
  overflow: hidden;
  margin-bottom: 30px;
  align-self: flex-start;
  flex-shrink: 0;
}

.Analysis4_PanelTextTitle {
  color: #333333;
  font-size: 32px;
  font-weight: 700;
  line-height: 60.8px;
  max-width: 1088px;
  margin-bottom: 30px;
}

.Analysis4_PanelTextContent {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  max-width: 1088px;
}

/* 10. WhatRecieve */
.WhatRecieve {
  margin-bottom: 150px;
}

.WhatRecieve_Title_One {
  color: #333333;
  font-size: 105px;
  font-weight: 700;
  line-height: 103.5px;
  text-align: center;
  margin-bottom: 50px;
}

.WhatRecieve_Content_One {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
  margin-bottom: 60px;
}

.WhatRecieve_Title_Two {
  color: #333333;
  font-size: 32px;
  line-height: 60.8px;
  text-align: center;
  margin-bottom: 50px;
}

.WhatRecieve_Content_Two {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
  text-align: center;
  margin-bottom: 60px;
}

.WhatRecieve_Title_Three {
  color: #333333;
  font-size: 30px;
  font-style: italic;
  line-height: 45px;
  text-align: center;
  margin-bottom: 60px;
}

.WhatRecieve_Content_Three_One {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
  margin-bottom: 60px;
}

.WhatRecieve_Content_Three_Tow {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
  margin-bottom: 60px;
}

.Analysis_Card_Content_Button_Container {
  text-align: center;
  margin-bottom: 60px;
}

.WhatRecieve_Table {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.WhatRecieve_Table_Column {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #515151;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.WhatRecieve_Dropdown {
  margin-top: -20px;
}

.WhatRecieve_Dropdown_TitleOne {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  padding-inline: 50px;
  margin-bottom: 50px;
}

.WhatRecieve_Dropdown_TitleTwo {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  padding-inline: 50px;
  margin-bottom: 50px;
}

.WhatRecieve_Dropdown_ContentOne {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 50px;
}

.WhatRecieve_Dropdown_ContentTwo {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 50px;
}

/* 11. ImageAdvantage */
.ImageAdvantage {
  margin-bottom: 100px;
}

.ImageAdvantage_Title {
  color: #333333;
  font-size: 85px;
  font-weight: 700;
  line-height: 76.5px;
  text-align: center;
  margin-bottom: 60px;
}

.ImageAdvantage_Content {
  color: #333333;
  font-size: 32px;
  font-weight: 300;
  line-height: 60.8px;
  text-align: center;
  margin-bottom: 60px;
}

.ImageAdvantage_Table {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.ImageAdvantage_Table_Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  color: #515151;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.ImageAdvantage_Button_Container {
  text-align: left;
}

.ImageAdvantage_Button {
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 20px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  background-color: transparent;
}

.ImageAdvantage_Button_Clicked {
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 20px;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  color: #373737;
  background-color: #00fe04;
  border: 2px solid #00fe04;
}

.ImageAdvantage_Button:hover {
  background-color: #282828;
  color: #e3e3e3;
}

.ImageAdvantage_Dropdown {
  margin-top: 20px;
}

.ImageAdvantage_Dropdown_ContentOne {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 50px;
}

.ImageAdvantage_Dropdown_ContentTwo {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

/* 12. InviteCustomer */
.InviteCustomer {
  margin-bottom: 60px;
}

.InviteCustomer_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  margin-bottom: 100px;
}

.InviteCustomer_Content {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
  text-align: center;
}

/* 13. QuoteOne */
.QuoteOne {
  margin-bottom: 100px;
}

.QuoteOne_Image {
  text-align: center;
  margin-bottom: 140px;
}

.QuoteOne_Text {
  color: #454545;
  font-size: 62px;
  font-style: italic;
  line-height: 55.8px;
  text-align: center;
  font-family: Georgia;
}

/* 14. Branding */
.Branding {
  display: flex;
  margin-bottom: 130px;
}

.Branding_Container {
  display: flex;
  padding-inline: 100px;
  justify-content: center;
  align-items: center;
}

.Branding_Content_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Branding_Title {
  color: #c6c6c6;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  margin-bottom: 50px;
}

.Branding_Text {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

/* 15. QuoteTwo */
.QuoteTwo {
  margin-bottom: 140px;
}

.QuoteTwo_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  margin-bottom: 80px;
}

.QuoteTwo_TextOne {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
  margin-bottom: 40px;
}

.QuoteTwo_TextTwo {
  color: #333333;
  font-size: 28px;
  font-weight: 300;
  line-height: 53.2px;
}

.QuoteTwo_Image {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

/* 16. OurClients */
.OurClients {
  margin-bottom: 150px;
}

.OurClients_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  margin-bottom: 120px;
}

.OurClients_Card_Container {
  margin-top: -220px;
}

.OurClients_Card_One {
  background-color: #ffffff;
  border-radius: 25.6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -20px;
}

.OurClients_Card_One_Title {
  font-size: 38.4px;
  font-weight: 600;
  line-height: 46.08px;
  text-align: center;
  margin-bottom: 30px;
}

.OurClients_Card_One_Content {
  font-size: 25.6px;
  font-weight: 300;
  line-height: 30.72px;
  padding-inline: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.OurClients_Card_One_Button_Container {
  display: flex;
  justify-content: center;
}

.OurClients_Card_One_Button {
  border: 4px solid #ffc602;
  border-radius: 256px;
  background-color: #ffc602;
  color: black;
  font-size: 25.6px;
  font-weight: 700;
  line-height: 30.72px;
  text-align: center;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 7.68px 25.6px;
}

.OurClients_Card_One_Button:hover {
  background-color: transparent;
  color: #ffc602;
}

.OurClients_Card_Two {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  border-radius: 0px 0px 25.6px 25.6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.15) 4px 4px 15px 0px, #ffffff 0px 0px 0px 0px,
    #ffffff 2px 2px 2px 0px inset, #c7c7c7 -2px -2px 2px 0px inset;
  padding-inline: 50px;
  padding-block: 30px;
}

.OurClients_Card_Two_Content {
  color: #8f8f8f;
  font-size: 23.04px;
  line-height: 34.56px;
  transform: matrix(1, 0, 0, 1, 38.4, 0);
}

.YellowMark {
  background-image: linear-gradient(90deg, rgba(255, 198, 2, 0), #ffc602);
  border-radius: 10.0147px;
  display: inline-block;
  font-size: 38.4px;
  font-weight: 600;
  line-height: 34.56px;
  text-align: center;
}

.YelloMarkReverse {
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 6.00883px;
  color: #eeeeee;
  display: inline-block;
  font-size: 23.04px;
  font-weight: 600;
  line-height: 20.736px;
}

.OurClients_Marquee {
  z-index: -10;
}

/* 17. Price */
.Price {
  margin-bottom: 100px;
}

.Price_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  margin-bottom: 35px;
}

.Price_Container {
  padding-inline: 40px;
}

.Price_Card_Container {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.Price_Card {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.Price_Card_Number {
  color: #b6b6b6;
  font-size: 128px;
  font-weight: 700;
  line-height: 192px;
  text-align: center;
  margin-bottom: -45px;
}

.Price_Card_Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 20px;
  flex: 1;
}

.Price_Card_Main_Title {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  margin-bottom: 30px;
}

.Price_Card_Main_TextOne {
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: center;
  margin-bottom: 25px;
}

.Price_Card_Main_ContentOne {
  font-size: 17px;
  font-weight: 300;
  line-height: 25.5px;
  text-align: center;
  margin-bottom: 25px;
}

.Price_Card_Main_TextTwo {
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: center;
  margin-bottom: 25px;
}

.Price_Card_Main_ContentTwo {
  font-size: 17px;
  font-weight: 300;
  line-height: 25.5px;
  text-align: center;
  margin-bottom: 25px;
}

.Price_Card_Main_Footer {
  font-size: 11px;
  font-weight: 300;
  line-height: 15.125px;
  text-align: center;
  margin-bottom: 25px;
}

.Price_Card_Main_Button {
  background-color: #4e7c1d;
  border: 2px solid #4e7c1d;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.8;
  padding: 10px 20px;
  text-align: center;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* 18. StrategyAction */
.StrategyAction {
  margin-bottom: 150px;
}

.StrategyAction_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 60px;
}

.StrategyAction_Content_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: left;
  margin-bottom: 40px;
}

.StrategyAction_Content_TextOne {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 40px;
}

.StrategyAction_Content_TextTwo {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

/* 19. AnswerAll */
.AnswerAll_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  margin-bottom: 35px;
}

/* 20. Accordion */
.Accordion {
  margin-bottom: 200px;
}

[hidden] {
  display: none;
}

.accordion {
  padding: 20px;
}

.accordion__heading {
  cursor: pointer;
  font-size: 22.5px;
  line-height: 33.75px;
}

.accordion__panel {
  padding-inline: 30px;
  animation: fadein 0.35s ease-in;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}

.accordion__item+.accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 20px;
  padding-inline: 30px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:before {
  display: inline-block;
  content: "+";
  height: 10px;
  width: 10px;
  margin-right: 12px;
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  content: "−";
}

/* * */
.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --content: min(77ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
  --full: minmax(var(--gap), 1fr);
  display: grid;
  grid-template-columns:
    [full-start] var(--full) [feature-start] var(--feature) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];
}

.content>* {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.feature {
  grid-column: feature;
}

.full {
  grid-column: full;
}

/* Modal */
.Modal {
  position: absolute;
  top: 10px;
  left: 40px;
  right: 40px;
  bottom: 20px;
  background-color: #161616;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161616;
}

.ModalTitle {
  color: #ffffff;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: -1.15px;
  line-height: 50.6px;
  text-align: center;
  padding-inline: 30px;
  margin-top: 50px;
}

.ModalContent {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-inline: 100px;
  margin-top: -60px;
}

.ModalCard {
  max-width: 1280px;
  min-height: 100px;
  background-color: #f7f7f7;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 15px 0px, #ffffff 0px 0px 0px 0px,
    #ffffff 2px 2px 2px 0px inset, #c7c7c7 -2px -2px 2px 0px inset;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 40px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ModalDropdownTitleOne {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.ModalDropdownTitleTwo {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

.ModalDropdown {
  margin-bottom: 10px;
}

.ModalSubmitButton {
  font-size: 20px;
  font-weight: normal;
  padding-top: 0.3em;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    box-shadow 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    border 0.05s cubic-bezier(0.5, 1, 0.7, 0.7);
  border: 2px solid #981a04;
  background-color: #d21e00;
  display: inline-block;
  border-radius: 20em;
  text-align: center;
  white-space: nowrap;
  transform: translateY(0.15em);
  box-shadow: 0 0 0 0 #981a04, 0 0.2em 0 0 #981a04;
  transform: matrix(1, 0, 0, 1, 0, 3);
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.05s, 0.05s, 0.05s;
  transition-property: transform, box-shadow, border;
  transition-timing-function: cubic-bezier(0.5, 1, 0.7, 0.7),
    cubic-bezier(0.5, 1, 0.7, 0.7), cubic-bezier(0.5, 1, 0.7, 0.7);
}

.ModalSubmitButton:hover {
  box-shadow: none;
}

.ModalCloseButton {
  top: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  font-size: x-large;
}

/* *** */
.OurClients_Slide {
  display: flex;
  flex-direction: column;
  padding-inline: 50px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.OurClients_Slide_Last {
  padding-inline: 180px;
  padding-block: 110px;
}

.OurClients_Slide_Container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.OurClients_Slide_Media {
  display: flex;
}

.OurClients_Slide_Title {
  font-size: 33.28px;
  font-weight: 600;
  line-height: 39.936px;
  padding-block: 30px;
}

.OurClients_Slide_Media_Rating {
  margin-left: -50px;
  display: flex;
  gap: 10px;
}

.OurClients_Slide_Star_Reviewer {
  font-size: 10.624px;
  font-weight: 600;
  line-height: 10.624px;
}

.OurClients_Slide_Star_Company {
  font-size: 10.624px;
  font-weight: 300;
  line-height: 10.624px;
}

.OurClients_Slide_Button {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
}

.OurClients_Slide_ButtonNext {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
  justify-content: end;
  padding-bottom: 40px;
  padding-inline: 50px;
}

.OurClients_Slide_Button_Text {
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
}

.ArrowButton {
  display: flex;
  height: 2em;
  width: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.52em;
  border-radius: 5.21em;
  background-color: #ffc600;
  padding: 0.52em;
  font-weight: bold;
  box-shadow: 0px 0.15em black;
  transition: transform 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    box-shadow 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    border 0.05s cubic-bezier(0.5, 1, 0.7, 0.7);
  border: 0.1em solid #000000;
}

.ArrowButton:hover {
  transform: translateY(0.3em);
  box-shadow: none;
}

.ArrowButton_Arrow {
  font-size: 1em;
  font-weight: bolder;
}

.YellowMarkSlide {
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 8.67942px;
  display: inline-block;
  font-size: 33.28px;
  font-weight: 600;
  line-height: 29.952px;
}

/* Carousel */
.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}

.embla__slide__number>span {
  color: var(--brand-primary);
  background-image: linear-gradient(45deg,
      var(--brand-primary),
      var(--brand-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* -----------------------------------------media screen ------------------------------------------------- */
@media only screen and (max-width: 1360px) {
  .MainHeading_Container {
    display: flex;
    flex-direction: column;
  }

  .mainHeadingContent {
    order: 2;
  }

  .MainHeading_Image img {
    margin: 0 auto;
    display: block;
  }

  .MainHeading_Title {
    text-align: center;
  }

  .MainHeading_SecondTitle {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
  }

  .MainHeading_Content {
    text-align: center;
    margin: 50px auto 20px;
  }

  .Testimonial_Card {
    display: block;
  }

  .Testimonial_Card.feature img {
    margin: 0 auto;
    display: block;
  }

  .Testimonial_Card_Content {
    margin-left: 0;
    margin-block: 0px;
  }

  .Analysis_Card {
    flex-direction: column;
  }

  .Analysis_Card .Analysis_Card_img_order {
    order: 1;
  }

  .Analysis_Card .Analysis_Card_img_order img {
    margin: 0 auto;
    display: block;
  }

  .Analysis_Card .Analysis_Card_Content {
    order: 2;
  }

  .Analysis_Card {
    padding: 30px 160px 50px;
  }

  .ResultMax {
    margin-bottom: 40px;
  }

  .Analysis1_Dropdown_Image img {
    width: 90%;
  }

  .analysis_card_img2 img {
    margin: 50px 0;
  }

  .Analysis_Card_Content_Title {
    text-align: left;
  }

  .Analysis_Card_Content_Text {
    text-align: left;
  }

  .Analysis_Card_Content_Table_Odd {
    justify-content: flex-start;
  }

  .StrategyAction_Container {
    flex-direction: column;
    padding: 0 150px;
  }
}

@media only screen and (max-width: 1024px) {
  .Analysis_Card {
    padding: 30px 0px 50px;
  }

  .Analysis {
    padding: 0 50px;
  }

  .Analysis3_Dropdown_Image img {
    width: 100%;
  }

  .WhatRecieveImage1 img {
    width: 100%;
  }

  .feature img {
    width: 100%;
  }

  .QuoteOne_Image img {
    width: 100%;
  }

  .Branding_Container {
    display: block;
  }

  .MainHeading_Image {
    margin-left: 0px;
  }

  .MainHeading_SecondTitle {
    max-width: 100%;
  }

  .Strategy_Cards {
    gap: 5em;
    flex-direction: column;
  }

  .Strategy_Card {
    max-width: 400px;
    margin: 0 auto;
  }

  .Analysis3_Grid {
    grid-template-columns: 1fr;
  }

  .Analysis4_Panel {
    flex-direction: column;
    gap: 0;
  }

  .QuoteOne_Image {
    margin-bottom: 50px;
  }

  .Branding {
    margin-bottom: 70px;
  }

  .OurClients {
    margin-bottom: 70px;
  }

  .cartAnimation {
    margin: -390px 0 0 -200px;
  }

  .Price_Card_Container {
    flex-direction: column;
  }

  .Price_Card {
    margin: 0 auto;
  }

  .faqContainer {
    padding: 70px 30px;
  }
  .OurClients{
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .MainHeading_Image img {
    width: 100%;
    height: auto;
  }

  .MainHeading_Title {
    font-size: 50px;
    line-height: 50px;
  }

  .MainHeading_SecondTitle {
    font-size: 34px;
    line-height: 50px;
  }

  .MainHeading_Content {
    font-size: 22px;
    line-height: 40px;
    width: 100%;
  }

  .MainContentOne_Container {
    font-size: 22px;
    line-height: 40.2px;
    text-align: center;
  }

  .MainNumber_Container {
    flex-direction: column;
  }

  .MainContentTwo_Container p {
    font-size: 22px;
    line-height: 40.2px;
    text-align: left;
  }

  .ResultTable_Title {
    font-size: 45px;
    margin-bottom: 50px;
  }

  .MainContentTwo {
    margin-bottom: 50px;
  }

  .ResultTable_Table_Row {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .Strategy_Title {
    font-size: 45px;
    line-height: 50.8px;
  }

  .feature img {
    height: auto;
  }

  .Testimonial_Card_Content {
    padding: 20px;
  }

  .Testimonial_Card_Content_Title {
    font-size: 26px;
  }

  .Testimonial_Card_Content_Button {
    font-size: 20px;
  }

  .ResultMax_Title {
    font-size: 30px;
    word-wrap: break-word;
    line-height: 35px;
  }

  .ResultMax_Content_One {
    font-size: 24px;
  }

  .ResultMax_Content_Two {
    font-size: 22px;
    line-height: 40.2px;
    text-align: center;
  }

  .Analysis_Card_img_order img {
    width: 100%;
    height: auto;
  }

  .Analysis_Card_Content_Title {
    font-size: 35px;
    line-height: 45px;
    text-align: left;
  }

  .Analysis_Card_Content_Text {
    font-size: 22px;
    line-height: 35px;
    text-align: left;
  }

  .Analysis_Card_Content_Table {
    flex-direction: column;
  }

  .Analysis1_Dropdown_Text1 {
    font-size: 18px;
    text-align: left;
  }

  .Analysis1_Dropdown_Text3 {
    font-size: 18px;
    line-height: 27px;
    text-align: left;
  }

  .Analysis1_Dropdown_Image img {
    width: 90%;
    height: auto;
  }

  .Analysis1_GridItem1,
  .Analysis1_GridItem2,
  .Analysis1_GridItem3,
  .Analysis1_GridItem4 {
    flex-basis: calc(90% - 10px);
    padding: 25px;
  }

  .analysis_card_img2 img {
    width: 100%;
    height: auto;
  }

  .Analysis_Card_Content_Table_Odd {
    flex-direction: column;
  }

  .Analysis2_Dropdown_Text1,
  .Analysis2_Dropdown_Text2,
  .Analysis2_Dropdown_Text3,
  .Analysis2_Dropdown_Text4,
  .Analysis3_Dropdown_Text1,
  .Analysis3_Dropdown_Text2,
  .Analysis3_Dropdown_Text3 {
    text-align: left;
  }

  .Analysis2_Dropdown_Image1 img,
  .Analysis2_Dropdown_Image2 img,
  .Analysis_Card img,
  .Analysis3_Dropdown_Image img {
    width: 100%;
    height: auto;
  }

  .Analysis2_Dropdown_Image2 {
    align-self: baseline;
  }

  .Analysis3_GridItemContent,
  .Analysis4_PanelTextContent {
    text-align: center;
  }

  .Analysis4_PanelImage img {
    width: 100%;
    height: auto;
  }

  .Analysis4_PanelTextTitle {
    line-height: 40.8px;
  }

  .WhatRecieve_Title_One {
    font-size: 45px;
    line-height: 53.5px;
  }

  .WhatRecieve_Content_One {
    font-size: 22px;
    line-height: 40.2px;
    text-align: center;
  }

  .WhatRecieve_Title_Two {
    line-height: 40.8px;
  }

  .WhatRecieve_Table {
    flex-direction: column;
  }

  .WhatRecieveImage1 img {
    height: auto;
  }

  .WhatRecieve_Title_Three {
    font-size: 26px;
    line-height: 40px;
  }

  .WhatRecieve_Content_Three_One,
  .WhatRecieve_Content_Three_Tow {
    font-size: 22px;
    line-height: 40.2px;
    text-align: center;
  }

  .ImageAdvantage_Title {
    font-size: 45px;
    line-height: 56.5px;
  }

  .ImageAdvantage_Content {
    font-size: 22px;
    line-height: 40.8px;
  }

  .Testimonial {
    margin-bottom: 70px;
  }

  .Analysis3_GridItemTitle {
    font-size: 28px;
    line-height: 40.2px;
  }

  .WhatRecieve {
    margin-bottom: 70px;
  }

  .ImageAdvantage_Table {
    flex-direction: column;
  }

  .InviteCustomer_Title {
    font-size: 45px;
    line-height: 50.8px;
    margin-bottom: 70px;
  }

  .InviteCustomer_Content {
    font-size: 22px;
    line-height: 40.2px;
  }

  .QuoteOne_Text {
    font-size: 36px;
    line-height: 50.8px;
  }

  .Branding_Container {
    padding-inline: 0px;
  }

  .Branding_Title {
    font-size: 45px;
    line-height: 50.8px;
    text-align: center;
  }

  .Branding_Content_Container {
    padding: 0 20px;
  }

  .Branding_Image img {
    width: 100%;
    height: auto;
  }

  .QuoteTwo_Title {
    font-size: 45px;
    line-height: 50.8px;
    margin-bottom: 50px;
  }

  .QuoteTwo_TextOne {
    font-size: 22px;
    line-height: 40.2px;
  }

  .QuoteTwo_TextTwo {
    font-size: 22px;
    line-height: 40.2px;
  }

  .QuoteTwo_Image img {
    width: 100%;
    height: auto;
  }

  .Price_Title {
    font-size: 40px;
    line-height: 45.8px;
  }

  .Price_Container {
    padding-inline: 15px;
  }

  .StrategyAction_Container {
    padding: 0px 20px;
  }

  .StrategyAction_Content_Title {
    font-size: 45px;
    line-height: 45.8px;
  }

  .StrategyActionImage img {
    width: 100%;
    height: auto;
  }

  .AnswerAll_Title {
    font-size: 45px;
    line-height: 45.8px;
  }

  .StrategyAction {
    margin-bottom: 70px;
  }

  .MainHeading_Container {
    padding-inline: 20px;
  }

  .Analysis {
    padding: 0 20px;
  }

  .Analysis4_Dropdown_Container {
    padding-inline: 0px;
  }

  .ImageAdvantage_Table {
    align-items: start;
  }

  .WhatRecieve_Dropdown_TitleTwo {
    padding-inline: 0px;

  }

  .WhatRecieve_Dropdown_TitleOne {
    color: #333333;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    padding-inline: 0px;
  }
}