@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap'); */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  background-color: #f4f4f4 !important;
  font-family: 'Poppins', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color constant */
:root {
  --brand-blue: #00bbff;
  --brand-blue-hover: #009ad2;
}

/* Loader spinner */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-container:first-child {
  margin-top: -115px;
}

/* 16. OurClients */
.OurClients {
  margin-bottom: 150px;
}
.OurClients_Title {
  color: #333333;
  font-size: 62px;
  font-weight: 700;
  line-height: 55.8px;
  text-align: center;
  margin-bottom: 120px;
}
.OurClients_Card_Container {
  margin-bottom: -450px;
}
.OurClients_Card_One {
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: -20px;
}
.OurClients_Card_One_Title {
  font-size: 38.4px;
  font-weight: 600;
  line-height: 46.08px;
  text-align: center;
  margin-bottom: 30px;
}
.OurClients_Card_One_Content {
  font-size: 25.6px;
  font-weight: 300;
  line-height: 30.72px;
  padding-inline: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.OurClients_Card_One_Button_Container {
  display: flex;
  justify-content: center;
}
.OurClients_Card_One_Button {
  border: 4px solid var(--brand-blue);
  border-radius: 256px;
  background-color: var(--brand-blue);
  color: black;
  font-size: 25.6px;
  font-weight: 700;
  line-height: 30.72px;
  text-align: center;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 7.68px 25.6px;
}
.OurClients_Card_One_Button:hover {
  background-color: transparent;
  color: var(--brand-blue);
}
.OurClients_Card_Two {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 25px 25px 25px 25px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.15) 4px 4px 15px 0px, #ffffff 0px 0px 0px 0px,
    #ffffff 2px 2px 2px 0px inset, #c7c7c7 -2px -2px 2px 0px inset;
  padding-inline: 50px;
  padding-block: 30px;
  margin-top: 150px;
}
.OurClients_Card_Two_Content {
  color: #8f8f8f;
  font-size: 23.04px;
  line-height: 34.56px;
  transform: matrix(1, 0, 0, 1, 38.4, 0);
}
.YellowMark {
  background-image: linear-gradient(90deg, rgba(255, 198, 2, 0), var(--brand-blue));
  border-radius: 10.0147px;
  display: inline-block;
  font-size: 38.4px;
  font-weight: 600;
  line-height: 34.56px;
  text-align: center;
}
.YelloMarkReverse {
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 6.00883px;
  color: #eeeeee;
  display: inline-block;
  font-size: 23.04px;
  font-weight: 600;
  line-height: 20.736px;
}
.OurClients_Marquee {
  z-index: -10;
  opacity: 0.8;
}
.OurClients_Marquee.full.mobile{
  margin-top: -100px;
  margin-bottom: 100px;
}

/* * */
.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --content: min(77ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
  --full: minmax(var(--gap), 1fr);
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}
.content > * {
  grid-column: content;
}
.popout {
  grid-column: popout;
}
.feature {
  grid-column: feature;
}
.full {
  grid-column: full;
}

/* *** */
.OurClients_Slide {
  display: flex;
  flex-direction: column;
  padding-inline: 50px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.OurClients_Slide_Container {
  display: flex;
  gap: 40px;
  align-items: center;
}
.OurClients_Slide_Media {
  display: grid;
  grid-template-columns: 40% 1fr;
}
.OurClients_Slide_Button {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
}
.OurClients_Slide_Title {
  font-size: 33.28px;
  font-weight: 600;
  line-height: 39.936px;
  padding-block: 30px;
}
.OurClients_Slide_Media_Rating {
  margin-left: -50px;
  display: flex;
  gap: 10px;
}
.OurClients_Slide_Star_Reviewer {
  font-size: 10.624px;
  font-weight: 600;
  line-height: 10.624px;
}
.OurClients_Slide_Star_Company {
  font-size: 10.624px;
  font-weight: 300;
  line-height: 10.624px;
}
.ArrowButton {
  display: flex;
  height: 2.5em;
  width: 2.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.52em;
  border-radius: 5.21em;
  background-color: var(--brand-blue);
  padding: 0.52em;
  font-weight: bold;
  box-shadow: 0px 0.15em black;
  transition: transform 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    box-shadow 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    border 0.05s cubic-bezier(0.5, 1, 0.7, 0.7);
  border: 0.1em solid #000000;
}
.ArrowButton:hover {
  /* update */
  /* transform: translateY(0.3em); */
  box-shadow: none;
}
.ArrowButton_Arrow {
  font-size: 4rem;
  font-weight: bolder;
}
.OurClients_Slide_Button_Text {
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
}
.OurClients_Slide_Last {
  padding-inline: 180px;
  padding-block: 110px;
}
.YellowMarkSlide {
  background-image: linear-gradient(90deg, #ffd042, #ffdc74);
  border-radius: 8.67942px;
  display: inline-block;
  font-size: 33.28px;
  font-weight: 600;
  line-height: 29.952px;
}

/* Carousel */
.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.OurClients_Slide_ButtonNext {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
  justify-content: end;
  padding-bottom: 40px;
  padding-inline: 50px;
  margin: 50px 0 0;
}
/* -------------- */
.review {
  background: white;
  padding: 100px 0;
}
.brandSlide .OurClients_Slide_ButtonNext {
  margin: -140px 0 0;
}
.embla__viewport {
  overflow: hidden;
  /* box-shadow: 0 0 10px lightgray; */
  border-radius: 30px;
}

/* star */
.star {
  color: #fdc818;
  margin-right: 5px;
  font-size: 24px;
}

.empty {
  /* filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)); */
  color: #855214;
  font-size: 24px;
}
/* star */

/* select */
.select-input {
  width: 75%;
}

/* -------------------------Accordion------------------------ */
.copywriter-intro-bg-5-label {
  font-family: 'Playfair Display';
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 25px;
  max-width: 800px;
  line-height: 70px;
  margin-inline: auto;
}
.img-background-logop {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.OurClients_Slide_Title.mobile_title {
  display: none;
}
.OurClients_Slide_Title.desktop_title {
  display: block;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}

/* ------------------media screen ---------------------------------------------------- */
@media only screen and (max-width: 1024px) {
  .OurClients_Slide {
    padding-top: 40px !important;
  }
  .embla__slide {
    max-height: 550px;
  }
  .OurClients_Slide_Title {
    font-size: 30px !important;
  }
  .star {
    font-size: 15px;
  }
  .OurClients_Slide_Title.mobile_title {
    display: block;
  }
  .OurClients_Slide_Title.desktop_title {
    display: none;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .OurClients_Card_Container {
    margin-bottom: 0px;
    margin-top: -220px;
  }
}
@media only screen and (max-width: 767px) {
  .OurClients_Slide_Container {
    display: grid !important;
    grid-template-columns: 40% 60%;
    gap: 20px !important;
  }
  .OurClients_Slide_Image img {
    width: 100%;
    height: auto;
  }
  .embla__slide {
    max-height: 90%;
  }
  .OurClients_Slide_Button {
    margin: 10px 0 0 0;
  }
  .OurClients_Slide_Media {
    display: block !important;
  }
  .OurClients_Slide_Media_Rating {
    display: block !important;
    margin: 20px auto !important;
  }
  .OurClients_Card_Two {
    display: block !important;
    margin-top: 100px;
  }
  .cartAnimation {
    margin: -500px 0 0 -50px !important;
  }
  .cartAnimation img {
    width: 150px !important;
  }
  .OurClients_Slide_Title {
    font-size: 25px !important;
    line-height: 30px !important;
    padding-top: 0 !important;
  }
  .OurClients_Slide {
    margin-bottom: 0;
  }
  .OurClients_Card_Two_Content {
    color: #8f8f8f;
    font-size: 22px;
    line-height: 34.56px;
    transform: matrix(1, 0, 0, 1, 0.4, 0);
  }
  .OurClients_Slide_Last {
    padding-inline: 20px;
    padding-block: 50px;
  }
  .OurClients_Card_One_Button {
    font-size: 16px;
  }
  .OurClients_Card_One_Title {
    font-size: 30px;
    line-height: 40px;
  }
  .OurClients_Card_One_Content {
    font-size: 20.6px;
    padding-inline: 10px;
  }
}

/* Brand Carousal Button */
.brand_Slide_ButtonNext {
  align-self: end;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
  justify-content: end;
  padding-bottom: 40px;
  padding-inline: 50px;
  margin: 50px 0 0;
}

.slick-slide {
  padding-right: 18px;
}
.brandImgBtn {
  cursor: pointer;
  font-size: 25.6px;
  font-weight: 600;
  line-height: 34.432px;
  text-align: center;
  padding-bottom: 40px;
  padding-inline: 50px;
  margin: 50px 0 0;
  position: absolute;
  right: -210px;
  top: 20px;
}
.brandImgBtn .ArrowButton {
  margin-inline: auto;
  margin-top: 20px;
}
video {
  -webkit-filter: contrast(0.979);
  filter: contrast(0.979);
}
.win video{
  -webkit-filter: contrast(0.999);
  filter: contrast(0.999);
}

.mac video {
  -webkit-filter: contrast(0.979);
  filter: contrast(0.979);
}
@media only screen and (max-width: 1024px) {
  .brandImgBtn {
    margin: 30px 0 0;
    right: -150px;
    top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .brandImgBtn {
    align-self: end;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 25.6px;
    font-weight: 600;
    line-height: 34.432px;
    text-align: center;
    justify-content: end;
    padding-bottom: 40px;
    padding-inline: 50px;
    margin: 50px 0 0;
    position: static;
    gap: 30px;
  }
  .ArrowButton {
    height: 1.5em;
    width: 1.5em;
  }
  .ArrowButton_Arrow {
    font-size: 2rem;
  }
  .brandImgBtn .ArrowButton {
    margin-inline: initial;
    margin-top: 0;
  }
  .brandSlide {
    margin: 0 0 100px;
  }
  .brand_Slide_ButtonNext {
    padding-right: 0;
  }
  .opinie_opinionContent__hxTb1 h4 {
    font-size: 30px;
  }
  .opinionContent h4 {
    line-height: 45px;
  }
  .personallyCard h2 {
    font-size: 40px;
  }
  .personallyCard {
    padding: 20px;
  }
  .OurClients_Slide {
    padding-inline: 30px;
  }
}
