.faqContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 70px 0;
}
.accordion-item {
    border-bottom: 2px solid #b9b9b9;
    padding: 15px 20px 15px 0;
}
.accordion-title {
    display: flex;
    justify-content: space-between;
}
.accordion-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}