.heading-style {
  font-size: 46px;
  font-weight: 500;
  line-height: 51px;
}

.subheading {
  font-size: 20px;
  font-weight: 300;
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 50px;
}
.card-headingOne{
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 800;
}

.card-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 24px;
}

.card-subheading {
  font-size: 18px;
  margin-top: 2px;
}
.card-subheading2 {
  font-size: 20px;
}

.card-narrow {
  width: 85%;
  margin: auto;
}

.btn-text {
  font-size: 18px;
}

.btns_container {
  padding: 30px;
}


.selectInputStyle {
  border-radius: 100px;
  width: 75%;
  border: '1px solid rgb(201, 201, 201)';
  padding: 8px 12px;
}

.cennikBtn {
  padding: 12px 16px;
  background: var(--brand-blue);
  font-size: 20px;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: 500;
  box-shadow: 0 6px 0px var(--brand-blue-hover);
  margin: 35px auto 20px;
  line-height: 20px;
 
}

.cennikBtn:hover {
  box-shadow: none;
  transition: box-shadow 0.3s ease-out;
}

/* additional input */
.additional-input-container {
  display: flex;
  margin: auto;
  width: 75%;
  padding: 20px 0px 0;
  align-items: center;
  justify-content: space-between;
}

.additional-input-container h2 {
  font-size: 20px;
  font-weight: 700;
  margin-right: 18px;
}

.additional-input-container input {
  padding: 8px 16px;
  outline-color: var(--brand-blue);
  border: none;
  border-color: hsl(0, 0%, 80%);
  font-size: 18px;
  font-weight: 300;
  border-radius: 30px;
  border: 1px solid lightgray;
  width: 57%;
}

.po_card_custom {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15), 0 0 0 #ffffff,
    2px 2px 2px #ffffff inset, -2px -2px 2px #c7c7c7 inset;
  border-radius: 30px;
  padding: 36px 0;
  background-color: rgba(247, 247, 247, 1);
  width: 75%;
  width: 60%;
  margin: auto;
}
.cennik_description{
  display: block;
  margin-bottom: 20px;
}


textarea, input{outline: none; box-shadow: none; border:1px solid #cecece;}
textarea{resize: none;}

.cennikFormCard{max-width:100% !important;}

@media only screen and (max-width: 1024px) {
  .BtnStyle {
    width: 100%;
    text-align: left;
  }

  .cennikFormCard {
    width: 100% !important;
  }

  .btns_container {
    padding: 10px 10px 10px 5px;
  }
  .btns_container .col-sm-12{
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .btns_container {
    padding: 10px 10px 10px 5px;
  }
  .btns_container .col-sm-12{
    margin-bottom: 12px;
  }

  .heading-style {
    font-size: 30px;
    line-height: 36px;
    padding: 0 15px;
  }
  .cennik_description{
    padding: 0 15px;
  }

  .subheading {
    font-size: 16px;
  }

  .form1Modal {
    width: 100% !important;
    inset: 0;
    padding: 30px 20px !important;
  }
  .cennik-modal-content div {
    display: block;
  }
  .additional-input-container{
    width: 100%;
  }
  .additional-input-container input{
    width: 92%;
  }
  .cennik-modal-btn {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .cennik-modal-title {
    font-size: 24px;
  }
  .cennik-modal-content p {
    font-size: 16px;
  }
  .additional-input-container {
    flex-direction: column;
    gap: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .cennikFormCard{padding-top:10px !important; margin-bottom:0px !important;}
  .heading-style, .card-heading{font-size:20px; line-height:26px; font-weight:700;}
  .heading-style{margin-top:30px !important;}
  .subheading, .card-subheading{font-size:18px; line-height:28px; padding: 0; margin: 30px 0;}
  .card-subheading{margin-top:10px;}
  .BtnStyle{text-align: center;}
}