.top-section-banner {
  background: none;
  top: 170px;
  right: 0px;
  position: absolute;
  z-index: -1;
}
.names-top-banner-container {
  width: 815px;
}
.pnazw-page .pnazw-topbanner-title {
  font-size: 85px;
  line-height: 76px;
}
.top-banner-title {
  display: block;
  font-weight: 900;
  margin: 20px 0px;
  line-height: 67px;
  font-size: 85px;
  font-family: "Playfair Display", serif;
  color: #373737;
  letter-spacing: -0.025em;
}
.pnazw-page .names-top-banner-long-text {
  color: #515151;
  font-style: normal;
  font-size: 25px;
  line-height: 34px;
  margin-top: 30px;
}
.pnazw-page .catalog-submit-button .download-catalog-button {
  font-family: "Arial";
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 22px;
  line-height: 25px;
  padding: 23px 40px;
  width: auto;
  border: 1px solid #aa2e2d;
  background-color: #aa2e2d !important;
  margin-top: 10px;
  color: white;
}

/* section 2 */

.projects-over-hid {
  overflow: hidden;
}
.projects-custom-container1 {
  padding-bottom: 0px;
}
.pnazw-page .custom-projects-margin-top {
  margin-top: 0px;
}

.theme-title1 {
  padding: 0 15px;
  padding-bottom: 50px;
  font-size: 51px;
  font-family: "Playfair Display", serif;
  color: #373737;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  letter-spacing: -0.025em;
}
.projects-big-header {
  font-size: 84px;
  padding: 40px 5px;
  line-height: 80px;
}
.top-section.desktop {
  padding: 50px 0;
}
.theme-desc {
  margin-bottom: 40px;
  color: #515151;
  font-family: "Georgia";
  font-size: 26px;
  line-height: 33px;
  letter-spacing: -0.025em;
}

.stats-image-cont {
  text-align: right;
}
.red-link {
  color: #aa2e2d;
  border-bottom: 1px #aa2e2d solid;
  text-decoration: none;
}
.projects-custom-gray-text {
  color: #848484;
  letter-spacing: -0.025em;
}
.projects-custom-container1 {
  padding: 100px 0 0;
}
.naming-what-you-get-header {
  font-size: 55px;
}
.projects-theme-title2 {
  padding: 0 15px;
  padding-bottom: 50px;
  font-size: 75px;
  font-family: "Playfair Display", serif;
  color: #373737;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  letter-spacing: -0.025em;
  line-height: 93px;
}
.pnazw-page .projects-theme-subtitle1 {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 32px;
}
.projects-theme-subtitle1 {
  display: block;
  color: #818181;
  font-family: "Georgia", serif;
  font-style: italic;
  line-height: 42px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 66px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  letter-spacing: -0.025em;
}
.pnazw-page .naming-project-includes {
  font-weight: 500;
}
.pnazw-page .naming-project-includes {
  font-weight: 500;
}
.naming-project-includes {
  font-weight: 600;
  color: black;
}
.pnazw-page .names-list-info {
  font-family: "Arial";
}

.names-list-info {
  list-style-type: disc !important;
  padding-left: 30%;
}
.pnazw-page .names-list-info {
  padding-left: 30%;
}
.pnazw-page .names-list-info li {
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.projects-theme-desc-p {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.custom-container1 {
  max-width: 810px;
  margin: auto;
}
.names-container-Litery {
  background-color: #fff;
  position: relative;
  padding-top: 95px;
  text-align: center;
  margin-top: 42px;
  padding: 95px 10px 10px 10px;
  margin-bottom: 40px;
}

.names-client-desc {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
}

.names-client-desc-litery {
  z-index: 1;
  position: relative;
}
.pnazw-page .names-client-desc-litery {
  margin-bottom: 20px;
}
.pnazw-page .names-container-Litery:after {
  background-image: url(https://cdn.owocni.pl/img/single-projektowanie-nazw/seo-images/litery-tworzenie-nazw-dla-firm.jpg);
}

.names-container-Litery:after {
  content: "";
  background-image: url(https://cdn.owocni.pl/img/projektowanie-nazw-img/Litery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 204px;
  position: absolute;
  width: 306px;
  top: -90px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.pnazw-page .names-client-desc-litery {
  margin-bottom: 20px;
}
.naming-answers-title {
  font-size: 80px;
}

.names-big-header {
  padding-top: 126px;
  padding-bottom: 10px;
  font-size: 60px;
}
.projects-big-header {
  font-size: 74px;
  padding: 40px 5px;
  line-height: 80px;
}
.projects-thematic-section-background-index {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.projecs-big-wierzymy-label {
  font-size: 45px !important;
}

.projects-gray-section-custom-font {
  font-size: 45px;
  font-family: "Georgia", serif;
  font-style: italic;
}
.pnazw-page .new-wierzymy .img-wierzymy {
  position: absolute;
  right: -170px;
}
.projects-gray-section-valuation {
  text-align: left !important;
  max-width: 780px;
  margin: 35px auto 180px;
  line-height: 45px;
  color: black;
}
.projects-thematic-section-background-index {
  z-index: 1;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.new-wierzymy {
  position: relative;
  height: 510px;
  max-width: 783px;
  margin: 0 auto;
  overflow: visible;
}
.projects-thematic-section-gray {
  background-color: #e3e3e3;
}
.iglarki-section-submain {
  font-size: 45px;
  line-height: 48px;
  margin-top: 35px;
}
.iglarki-section-main-header {
  font-family: "Playfair Display Black", serif;
  line-height: 85px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.iglarki-section-main-header {
  font-size: 98px;
  line-height: 93px;
  padding: 0 15px;
  padding-bottom: 50px;
  font-family: "Playfair Display", serif;
  color: #373737;
  text-align: center;
  position: relative;
  letter-spacing: -0.025em;
  margin-top: 40px;
}
.pnazw-page .names-client-name {
  position: relative;
}
.pnazw-page .copywriter-cname {
  padding-bottom: 95px;
}
.copywriter-cname {
  margin-top: 40px;
  padding-bottom: 55px;
}

.names-iglarki-name {
  position: relative;
  text-align: center;
  color: #fff;
  padding-bottom: 60px;
}
.names-client-name {
  font-family: "Arial";
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 100px;
  margin-top: 50px;
  letter-spacing: -0.025em;
  color: #fff;
}
.names-client-name.iglarki-cname:after {
  background: linear-gradient(to right, #aa2e2d 0%, #aa2e2d 100%);
  width: 168px;
  height: 10px;
  content: "";
  position: absolute;
  left: calc(50% - 84px);
  bottom: 15px;
  top: 75px;
}
.names-client-desc {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
  line-height: 45px;
}
.names-client-iglarki {
  text-align: center;
}
