/* section 1 */
.pnazw-page .top-section.desktop .naming-top-section-banner {
  right: -170px;
}

.pnazw-page .top-section-banner {
  width: auto;
  height: auto;
}
.naming-top-section-banner {
  top: 32px;
  right: -250px;
}
.naming-no-bg {
  background-image: none;
  padding: 0px !important;
}
.names-top-section-banner {
  background: url(https://cdn.owocni.pl/img/projektowanie-nazw-img/Tworzenie-nazw-marek.jpg)
    no-repeat;
  width: 849px;
  height: 478px;
  top: 0;
  right: -320px;
  position: absolute;
}
.names-top-section-banner,
.names-top-section.mobile {
  background: url(https://cdn.owocni.pl/img/projektowanie-nazw-img/Tworzenie-nazw-marek.jpg)
    no-repeat;
  background-position: -1px 0px;
}
.top-section-banner {
  background: none;
  top: 0;
  right: -100px;
  position: absolute;
}

.pnazw-page video {
  position: relative;
  top: auto;
  left: auto;
  min-width: auto;
  min-height: auto;
  width: auto;
  height: auto;
  z-index: 1;
  transform: none;
  background-size: inherit;
  transition: none;
  max-width: 820px;
}
