.top-section-banner {
  background: none;
  top: 170px;
  right: 0px;
  position: absolute;
  z-index: -1;
}
.names-top-banner-container {
  width: 600px;
}
.heroVideo {
  margin-top: 40px;
}
.pnazw-page .pnazw-topbanner-title {
  font-size: 85px;
  line-height: 70px;
  text-align: center;
}
.top-banner-title {
  display: block;
  font-weight: 900;
  margin: 20px 0px;
  line-height: 67px;
  font-size: 85px;
  font-family: 'Playfair Display', serif;
  color: #373737;
  letter-spacing: -0.025em;
}
.pnazw-page .names-top-banner-long-text {
  color: #515151;
  font-style: normal;
  font-size: 22px;
  line-height: 34px;
  margin-top: 30px;
}
.pnazw-page .catalog-submit-button .download-catalog-button {
  font-family: 'Arial';
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 20px;
  line-height: 25px;
  padding: 23px 40px;
  width: auto;
  border: 1px solid var(--brand-blue);
  background-color: var(--brand-blue);
  margin-top: 10px;
  color: white;
}

/* section 2 */

.projects-over-hid {
  overflow: hidden;
}
.projects-custom-container1 {
  padding-bottom: 0px;
}
.pnazw-page .custom-projects-margin-top {
  margin-top: 0px;
}

.theme-title1 {
  padding: 0 15px;
  padding-bottom: 50px;
  font-size: 51px;
  font-family: 'Playfair Display', serif;
  color: #373737;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  letter-spacing: -0.025em;
}
.projects-big-header {
  font-size: 84px;
  padding: 40px 5px;
  line-height: 80px;
  max-width: 900px;
  margin-inline: auto;
}
.top-section.desktop {
  padding: 50px 0;
}
.theme-desc {
  margin-bottom: 40px;
  color: #515151;
  font-family: 'Georgia';
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.025em;
  max-width: 800px;
  margin-inline: auto;
}
img.names-custom-image {
  margin-bottom: 30px;
  margin-inline: auto;
  display: block;
}

.stats-image-cont {
  text-align: right;
}
.red-link {
  color: #aa2e2d;
  border-bottom: 1px #aa2e2d solid;
  text-decoration: none;
}
.projects-custom-gray-text {
  color: #848484;
  letter-spacing: -0.025em;
}
.projects-custom-container1 {
  padding: 100px 0 0;
}
.naming-what-you-get-header {
  font-size: 55px;
}
.projects-theme-title2 {
  padding: 0 15px;
  padding-bottom: 50px;
  font-size: 65px;
  font-family: 'Playfair Display', serif;
  color: #373737;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  letter-spacing: -0.025em;
  line-height: 93px;
}
.pnazw-page .projects-theme-subtitle1 {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 32px;
}
.projects-theme-subtitle1 {
  display: block;
  color: #818181;
  font-family: 'Georgia', serif;
  font-style: italic;
  line-height: 42px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 66px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  letter-spacing: -0.025em;
  max-width: 800px;
  margin-inline: auto;
}
.pnazw-page .naming-project-includes {
  font-weight: 500;
}
.pnazw-page .naming-project-includes {
  font-weight: 500;
}
.naming-project-includes {
  font-weight: 600;
  color: black;
}
.pnazw-page .names-list-info {
  font-family: 'Arial';
}

.names-list-info {
  list-style-type: disc !important;
}
.pnazw-page .names-list-info {
  padding-left: 30%;
}
.pnazw-page .names-list-info li {
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.projects-theme-desc-p {
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
}
.custom-container1 {
  max-width: 810px;
  margin: auto;
}
.names-container-Litery {
  background-color: #fff;
  position: relative;
  padding-top: 95px;
  text-align: center;
  margin-top: 42px;
  padding: 95px 10px 10px 10px;
  margin-bottom: 40px;
}

.names-client-desc {
  font-family: 'Playfair Display';
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
}

.names-client-desc-litery {
  z-index: 1;
  position: relative;
}
.pnazw-page .names-client-desc-litery {
  margin-bottom: 20px;
}
/* .pnazw-page .names-container-Litery:after {
  background-image: url(https://cdn.owocni.pl/img/single-projektowanie-nazw/seo-images/litery-tworzenie-nazw-dla-firm.jpg);
} */

.names-container-Litery:after {
  /* to be deleted hence display none*/
  display: none;
  content: '';
  background-image: url(https://cdn.owocni.pl/img/projektowanie-nazw-img/Litery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 204px;
  position: absolute;
  width: 306px;
  top: -90px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.pnazw-page .names-client-desc-litery {
  margin-bottom: 20px;
}
.naming-answers-title {
  font-size: 80px;
}

.names-big-header {
  padding-top: 126px;
  padding-bottom: 10px;
  font-size: 60px;
}
.projects-big-header {
  font-size: 74px;
  padding: 40px 5px;
  line-height: 80px;
}
.projects-thematic-section-background-index {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.projecs-big-wierzymy-label {
  font-size: 45px !important;
}

.projects-gray-section-custom-font {
  font-size: 45px;
  font-family: 'Georgia', serif;
  font-style: italic;
}
.pnazw-page .new-wierzymy .img-wierzymy {
  /* position: absolute;
  right: -170px; */

  position: absolute;
  right: -245px;
  width: 700px;
}
.projects-gray-section-valuation {
  text-align: left !important;
  max-width: 450px;
  margin: 35px auto 180px 0;
  line-height: 45px;
  color: black;
}
.projects-thematic-section-background-index {
  z-index: 1;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.new-wierzymy {
  position: relative;
  height: 510px;
  max-width: 783px;
  margin: 0 auto;
  overflow: visible;
}
.projects-thematic-section-gray {
}
.iglarki-section-submain {
  font-size: 45px;
  line-height: 48px;
  margin-top: 35px;
}
.iglarki-section-main-header {
  font-family: 'Playfair Display Black', serif;
  line-height: 85px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.iglarki-section-main-header {
  font-size: 90px;
  line-height: 80px;
  padding: 0 15px;
  padding-bottom: 50px;
  font-family: 'Playfair Display', serif;
  color: #373737;
  text-align: center;
  position: relative;
  letter-spacing: -0.025em;
  margin-top: 40px;
  max-width: 800px;
  margin-inline: auto;
}
.pnazw-page .names-client-name {
  position: relative;
}
.pnazw-page .copywriter-cname {
  padding-bottom: 95px;
}
.copywriter-cname {
  margin-top: 40px;
}

.names-iglarki-name {
  position: relative;
  text-align: center;
  color: #fff;
  padding-bottom: 60px;
}
.names-client-name {
  font-family: 'Arial';
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 20px;
  margin-top: 50px;
  letter-spacing: -0.025em;
  color: #fff;
  margin-bottom: 50px;
}
.names-client-name.iglarki-cname:after {
  background: linear-gradient(to right, #aa2e2d 0%, #aa2e2d 100%);
  width: 168px;
  height: 10px;
  content: '';
  position: absolute;
  left: calc(50% - 84px);
  bottom: 15px;
  top: 75px;
}
.names-client-desc {
  font-family: 'Playfair Display';
  font-size: 48px;
  font-weight: 900 !important;
  letter-spacing: -0.025em;
  margin-bottom: 50px;
  line-height: 45px;
  max-width: 800px;
  margin-inline: auto;
}
.names-client-iglarki {
  text-align: center;
}

/* ----------------new------------------ */
.nazwaContainer {
  padding: 0 100px;
}
.projects-under-big-header2 {
  font-size: 35px;
  max-width: 850px;
  margin-inline: auto;
}
.projects-under-big-header {
  max-width: 750px;
}
.stats-image-cont img {
  width: 50%;
}
.pnazw-ctext-size {
  font-size: 26px;
}
.theme-quote {
  font-size: 35px;
}
.signature {
  margin-bottom: 50px;
}
.custom-after-top-line {
  position: relative;
}
.custom-after-top-line::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: calc(50% - 84px);
  width: 170px;
  border-bottom: 6px solid #aa2e2d;
}
.names-color-purple {
  color: #8d1749;
}
.nazwa_footer_Time_btn {
  display: none;
}

.nazwa_footer_bottom_right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nazwa_footer_Time_btn {
  background: white;
  padding: 7px 10px;
  border: 2px solid var(--brand-blue);
  color: var(--brand-blue);
  box-shadow: #c1c1c1 5px 5px 0px -1px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.nazwa_footer_Time_btn sup {
  font-size: 16px;
  font-weight: 500;
}
.PDF-m-book {
  display: none;
}
img.Naming {
  width: auto;
  margin-inline: auto;
  display: block;
}
section.projects-gray-opinion-4 {
  margin-bottom: 100px;
}

.projects-logotypy-prasa {
  width: 100%;
  height: auto;
}

/* ------------------------------------media screen------------------------------- */
@media only screen and (max-width: 1024px) {
  .nazwa_footer_Time_btn {
    display: block;
  }
  .nazwaContainer {
    padding: 0 50px;
  }
  .pnazw-page .pnazw-topbanner-title {
    font-size: 75px;
    line-height: 70px;
    text-align: center;
  }
  .pnazw-page .names-top-banner-long-text {
    text-align: center;
  }
  .pnazw-page .catalog-submit-button .download-catalog-button {
    margin-inline: auto;
    display: block;
    margin-top: 40px;
  }
  .projects-custom-container1 {
    padding: 50px 0 0;
  }
  .projects-big-header {
    font-size: 50px;
    line-height: 50px;
  }
  section#sec0 {
    padding-inline: 50px;
  }
  .stats-image-cont img {
    margin-bottom: 50px;
    margin-inline: auto;
    display: block;
  }

  img.projects-logotypy-prasa {
    margin-inline: auto;
    display: block;
    margin-block: 30px;
  }
  .opinion-box-image {
    position: relative;
  }
  .opinion-box-content {
    width: 100%;
    position: relative;
    margin: 0;
  }
  .opinion-box-text {
    font-size: 30px;
  }
  .col-md-12.projects-empty-opinion-box {
    display: none;
  }
  .projects-theme-title2 {
    margin: 0;
    line-height: 50px;
  }
  .projects-theme-subtitle1 {
    font-size: 35px;
  }
  .copywriter-intro-bg-5-label {
    font-size: 50px;
    line-height: 50px;
  }
  .custom-container1 {
    max-width: 100%;
  }
  .pnazw-page .new-wierzymy .img-wierzymy {
    /* right: 0px;
    top: 100px;
    width: 100%; */

    right: 100px;
    top: 125px;
    width: 65%;
  }
  .projects-gray-section-valuation {
    max-width: 90%;
    margin: 19px auto 180px 0;
    line-height: 35px;
    padding-inline: 50px;
    font-size: 35px !important;
  }
  .iglarki-section-main-header {
    font-size: 50px;
  }
  .iglarki-section-submain {
    font-size: 35px;
    line-height: 38px;
    margin-top: 25px;
  }
  .names-client-desc {
    font-size: 40px;
    line-height: 40px;
  }
  .theme-quote {
    font-size: 30px;
  }
  .projects-thematic-section-gray {
    padding: 0 50px;
  }
  .names-custom-container {
    max-width: 90%;
  }
  .names-thematic-section-black {
    padding: 0 50px;
  }
  .copywriter-ending-big {
    font-size: 40px;
    line-height: 40px;
  }
  .copywriter-ending-big-2 {
    font-size: 35px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /* .carousel-item {
  float: none;
} */
  .logoBotSlideImg {
    width: 60%;
  }
  .copywriter-ending-1 {
    font-size: 50px;
    line-height: 50px;
  }
  .nazwa_footer_bottom_left {
    display: none !important;
  }
  .PDF-d-book {
    display: none;
  }
  .PDF-m-book {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  img.owocnych-nazw-text {
    width: 90%;
  }
  img.projects-logotypy-prasa {
    width: 90%;
  }
  .opinion-box-image {
    width: 100%;
  }
  .opinion-box-inside-image {
    width: 100%;
  }
  .download-catalog-button {
    width: 100%;
  }
  img.names-custom-image {
    width: 90%;
  }
  .nazwa_footer_bottom_btn {
    font-size: 16px !important;
    line-height: 21.2px !important;
  }
  .nazwa_footer_Time_btn {
    font-size: 14px;
  }
  .nazwa_footer_Time_btn sup {
    font-size: 12px;
    font-weight: 500;
  }
  .nazwaContainer {
    padding: 0 20px;
  }
  .pnazw-page .pnazw-topbanner-title {
    font-size: 40px;
    line-height: 40px;
  }
  .pnazw-page .names-top-banner-long-text {
    font-size: 18px;
    line-height: 20px;
  }
  .pnazw-page .catalog-submit-button .download-catalog-button {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 10px;
  }
  .projects-big-header {
    font-size: 35px;
    line-height: 35px;
  }
  .projects-custom-container1 {
    padding: 30px 0 0;
  }
  .projects-under-big-header2 {
    font-size: 25px;
  }
  .theme-desc {
    margin-bottom: 40px;
    color: #515151;
    font-family: 'Georgia';
    font-size: 22px;
    line-height: 30px;
  }
  section#sec0 {
    padding: 50px 10px;
  }
  .opinion-box {
    margin-top: 0px;
  }
  .opinion-box-text {
    font-size: 22px;
  }
  .download-catalog-button {
    font-size: 16px;
  }
  .projects-theme-title2 {
    font-size: 40px;
    line-height: 40px;
  }
  .projects-theme-subtitle1 {
    font-size: 25px;
    line-height: 32px;
  }
  .projects-over-hid {
    padding: 0 10px;
  }
  section.projects-gray-opinion-2 {
    padding: 0 10px;
  }
  .names-client-desc {
    font-size: 30px;
    line-height: 30px;
  }
  div#sec2 {
    padding: 0 10px;
  }
  .copywriter-intro-bg-5-label {
    font-size: 35px;
    line-height: 40px;
  }
  .projects-thematic-section-gray {
    padding: 0 10px;
  }
  .projects-gray-section-valuation {
    max-width: 100%;
    line-height: 30px;
    padding-inline: 10px;
    font-size: 25px !important;
  }
  .new-wierzymy {
    height: 320px;
  }
  .iglarki-section-main-header {
    font-size: 35px;
    line-height: 40px;
  }
  .iglarki-section-submain {
    font-size: 25px;
    line-height: 28px;
  }
  .names-client-name {
    font-size: 25px;
  }
  .names-client-name.iglarki-cname:after {
    height: 5px;
    top: 45px;
  }
  .theme-quote {
    font-size: 25px;
    line-height: initial;
  }
  .names-custom-container {
    max-width: 100%;
    padding: 0 10px;
  }
  .underline-down:after {
    bottom: 5px;
    border-bottom: 5px solid #aa2e2d;
  }
  .names-new-btn {
    padding: 23px 20px;
  }
  .projects-bow-1 {
    margin-bottom: -7px;
  }
  .names-thematic-section-purple {
    padding-inline: 10px;
  }
  .names-thematic-section-black {
    padding: 0 10px;
  }
  .copywriter-ending-big {
    font-size: 30px;
    line-height: 30px;
  }
  .copywriter-ending-big-2 {
    font-size: 25px;
    line-height: 30px;
  }
  section.profit-sec {
    padding: 50px 0 50px;
  }
  .inputLayout {
    gap: 0px;
    flex-direction: column;
  }
  .inputLayout input {
    width: 100%;
    margin-bottom: 20px;
  }

  .after-li-ctext {
    display: none;
  }
  img.Naming {
    width: 90%;
  }
  .row {
    margin: 0;
    padding: 0;
  }
  .sendQuote {
    padding: 25px;
    width: 95%;
  }
  .sendQuote h2 {
    font-size: 24px;
  }
  button.formModalCloseBtn {
    color: black;
    top: 25px;
    right: 15px;
  }
  .quoteBtn {
    flex-direction: column;
    gap: 20px;
  }
  .quoteBtn button {
    font-size: 16px;
  }
  .modalOverlay {
    overflow: auto;
  }
  section.projects-gray-opinion-4 {
    margin-bottom: 50px;
  }
  .nazwa_footer_bottom_right {
    gap: 10px;
  }
}
