/* 16. OurClients */

/* * */
.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --content: min(77ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 2rem);
  --feature: minmax(0, 5rem);
  --full: minmax(var(--gap), 1fr);
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}
.content > * {
  grid-column: content;
}
.popout {
  grid-column: popout;
}
.feature {
  grid-column: feature;
}
.full {
  grid-column: full;
}

/* Modal */
.Modal {
  position: absolute;
  top: 10px;
  left: 40px;
  right: 40px;
  bottom: 20px;
  background-color: #161616;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161616;
}
.ModalTitle {
  color: #ffffff;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: -1.15px;
  line-height: 50.6px;
  text-align: center;
  padding-inline: 30px;
  margin-top: 50px;
}
.ModalContent {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-inline: 100px;
  margin-top: -60px;
}
.ModalCard {
  max-width: 1280px;
  min-height: 100px;
  background-color: #f7f7f7;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 15px 0px, #ffffff 0px 0px 0px 0px,
    #ffffff 2px 2px 2px 0px inset, #c7c7c7 -2px -2px 2px 0px inset;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 40px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ModalDropdownTitleOne {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.ModalDropdownTitleTwo {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.ModalDropdown {
  margin-bottom: 10px;
}
.ModalSubmitButton {
  font-size: 20px;
  font-weight: normal;
  padding-top: 0.3em;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    box-shadow 0.05s cubic-bezier(0.5, 1, 0.7, 0.7),
    border 0.05s cubic-bezier(0.5, 1, 0.7, 0.7);
  border: 2px solid #981a04;
  background-color: #d21e00;
  display: inline-block;
  border-radius: 20em;
  text-align: center;
  white-space: nowrap;
  transform: translateY(0.15em);
  box-shadow: 0 0 0 0 #981a04, 0 0.2em 0 0 #981a04;
  transform: matrix(1, 0, 0, 1, 0, 3);
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.05s, 0.05s, 0.05s;
  transition-property: transform, box-shadow, border;
  transition-timing-function: cubic-bezier(0.5, 1, 0.7, 0.7),
    cubic-bezier(0.5, 1, 0.7, 0.7), cubic-bezier(0.5, 1, 0.7, 0.7);
}
.ModalSubmitButton:hover {
  box-shadow: none;
}
.ModalCloseButton {
  top: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  color: white;
  border: none;
  font-size: x-large;
}

/* *** */


/* Carousel */
.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
