.wte {
  padding: 50px 12px;
  max-width: 900px;
}

.wte_header {
  margin-bottom: 60px;
}

.wte_header h2 {
  font-weight: 700;
  font-size: 60px;
  margin:0 auto 85px;
}

.wte_header p {
  width: 50%;
  margin: 20px auto;
  font-size: 25px;
}

.wte p {
  font-size: 27px;
  margin: 20px auto;
  font-weight: 300;
  max-width:100%;
  width:100%;
}

.wte p.TextBold{font-weight:bold;}

.wte_end {
  max-width:900px;
  padding:0 12px;
  margin: 0 auto;
}

.logoImg {
  width: 380px;
}

.leaf_img {
  width: 200px;
  margin-bottom:-76px;
  margin-left:-150px;
}

.leaf_img_right {
  transform: scaleX(-1);
  margin-left:0;
  margin-right:-150px;
}

.toExpect{grid-gap: 14px;}

@media only screen and (max-width: 1024px) {
  .wte_header p {
    width: 100%;
  }
  .wte {
    padding: 70px 0;
  }
  .wte_header h2 {
    margin-bottom: 50px;
  }
  .wte_end {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* img.leaf_img {
    display: none;
  } */
  .logoImg {
    width: 90%;
  }
  .wte_header h2 {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 26px;
  }
  .wte_header p {
    width: 90%;
    font-size: 22px;
  }
  .wte p {
    font-size: 22px;
    width: 90%;
  }
  .toExpect{
    flex-direction: column;
  }
  .leaf_img_right {
display: none;
  }
  .text-center.wte.container{padding: 40px 12px 30px;}  
  .wte p{width:100%;}
  .leaf_img{margin:0 auto;}
  .wte_header{margin-bottom: 30px;}
  .wte p.TextBold{margin-top:0px;}
  .wte p.TextBold.my-5{margin-top:44px !important;}
  .wte_end{margin-top:20px;}
}
